<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Prima</a></li>
                        <li class="breadcrumb-item active">Kegiatan Prima</li>
                    </ol>
                </div>
                <h4 class="page-title">Kegiatan Prima</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daftar Kegiatan Prima</h4>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nama</th>
                                <th>Deskripsi</th>
                                <th>Tanggal Pelaksanaan</th>
                                <th>Durasi Kegiatan</th>
                                <th>Lokasi Kegiatan</th>
                                <th>Jenis Kegiatan</th>
                                <th>Jumlah Peserta</th>
                                <th>Penyelenggara</th>
                                <th>Fasilitator</th>
                                <th>Anggaran Kegiatan</th>
                                <th>Kolaborator Kegiatan</th>
                                <th>Hasil Kegiatan</th>
                                <th>Dokumentasi Kegiatan</th>
                                <th>Feedback Peserta</th>
                                <th>Rekomendasi untuk Kegiatan Berikutnya</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr>
                                <td>KP001</td>
                                <td>Pelatihan Membuat Kerajinan Limbah Plastik</td>
                                <td>Kegiatan ini bertujuan untuk meningkatkan keterampilan anggota dalam memanfaatkan limbah plastik menjadi produk bernilai ekonomi.</td>
                                <td>2024-12-15</td>
                                <td>4</td>
                                <td>Balai Desa Gilangharjo</td>
                                <td>Pelatihan, Seminar, Praktik, Lapangan</td>
                                <td>30</td>
                                <td>Kelompok Prima Gilang Sejahtera</td>
                                <td>Dr. Rini Wulandari, Akademisi UGM</td>
                                <td>Rp5.000.000</td>
                                <td>Dinas Koperasi & UMKM, Akademisi</td>
                                <td>30 anggota berhasil memproduksi tas dari limbah plastik.</td>
                                <td>dokumentasi_pelatihan.jpg</td>
                                <td>Kegiatan sangat bermanfaat, tambahkan durasi praktik.</td>
                                <td>Tambahkan sesi pemasaran produk hasil kegiatan.</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                                <td class="table-action">
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Delete"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td>KP001</td>
                                <td>Pelatihan Membuat Kerajinan Limbah Plastik</td>
                                <td>Kegiatan ini bertujuan untuk meningkatkan keterampilan anggota dalam memanfaatkan limbah plastik menjadi produk bernilai ekonomi.</td>
                                <td>2024-12-15</td>
                                <td>4</td>
                                <td>Balai Desa Gilangharjo</td>
                                <td>Pelatihan, Seminar, Praktik, Lapangan</td>
                                <td>30</td>
                                <td>Kelompok Prima Gilang Sejahtera</td>
                                <td>Dr. Rini Wulandari, Akademisi UGM</td>
                                <td>Rp5.000.000</td>
                                <td>Dinas Koperasi & UMKM, Akademisi</td>
                                <td>30 anggota berhasil memproduksi tas dari limbah plastik.</td>
                                <td>dokumentasi_pelatihan.jpg</td>
                                <td>Kegiatan sangat bermanfaat, tambahkan durasi praktik.</td>
                                <td>Tambahkan sesi pemasaran produk hasil kegiatan.</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                                <td class="table-action">
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Delete"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>