<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Prima</a></li>
                        <li class="breadcrumb-item active">Kelompok Prima</li>
                    </ol>
                </div>
                <h4 class="page-title">Kelompok Prima</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daftar Kelompok Prima</h4>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nama</th>
                                <th>Deskripsi</th>
                                <th>Jumlah Anggota</th>
                                <th>Ketua Kelompok</th>
                                <th>Tahun Berdiri</th>
                                <th>Fokus Kegiatan</th>
                                <th>Program Unggulan</th>
                                <th>Alamat/Lokasi</th>
                                <th>Kontak Informasi</th>
                                <th>Media Promosi</th>
                                <th>Jumlah Program yang Dilaksankan</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr>
                                <td>KP001</td>
                                <td>Kelompok Prima Gilang Sejahtera</td>
                                <td>Kelompok Prima yang fokus pada pemberdayaan perempuan melalui pelatihan kewirausahaan.</td>
                                <td>25</td>
                                <td>Ibu Nurhayati</td>
                                <td>2018</td>
                                <td>Kerajinan, Pendidikan, Kuliner</td>
                                <td>Pelatihan membuat kerajinan dari limbah plastik.</td>
                                <td>Dusun Gilangharjo RT 01/RW 02, Bantul</td>
                                <td>+62 813-5678-9012</td>
                                <td>poster_kelompok.jpg</td>
                                <td>15</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                                <td class="table-action">
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Delete"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td>KP001</td>
                                <td>Kelompok Prima Gilang Sejahtera</td>
                                <td>Kelompok Prima yang fokus pada pemberdayaan perempuan melalui pelatihan kewirausahaan.</td>
                                <td>25</td>
                                <td>Ibu Nurhayati</td>
                                <td>2018</td>
                                <td>Kerajinan, Pendidikan, Kuliner</td>
                                <td>Pelatihan membuat kerajinan dari limbah plastik.</td>
                                <td>Dusun Gilangharjo RT 01/RW 02, Bantul</td>
                                <td>+62 813-5678-9012</td>
                                <td>poster_kelompok.jpg</td>
                                <td>15</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                                <td class="table-action">
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Delete"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>