@{
    ViewData["Title"] = "Home Page";  
}

<!--======================================================= LANDING ==================================================-->
<header class="header">
    <div class="section__container header__container" id="home">
        <p>Interaktif - Informatif - Terpercaya</p>
        <h1>Sistem Informasi <span>Desa</span><br /><span>Gilangharjo</span> Yogyakarta</h1>
        <div class="tombol_home">
            <a asp-area="" asp-controller="Event" asp-action="Index" asp-fragment="Populer" class="btn">Lihat Event Terbaru</a>
        </div>    
    </div>
</header>
<!--======================================================= LANDING ===================================================-->
