.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("assets/home-header.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__container {
    padding-block: 8rem 15rem;
}

    .header__container p {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        color: var(--white);
        text-align: center;
        opacity: 0.6;
    }

    .header__container h6 {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        color: #f8f8f8;
        text-align: center;
    }

    .header__container h1 {
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-size: 4rem;
        font-weight: 600;
        line-height: 4.5rem;
        color: var(--white);
        text-align: center;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }

        .header__container h1 span {
            color: #c4e617;
        }

.tombol_home {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}