@{
    ViewData["Title"] = "Home Page";  
}

<!--======================================================= LANDING ==================================================-->
<header class="header">
    <div class="section__container header__container" id="home">
        <p>Bersama Membangun Desa Digital</p>
        <h1>Sistem Informasi Desa<br /><span>Gilangharjo</span></h1>
        <h6>Sistem Informasi Desa Gilangharjo: Platform Digital untuk<br>Menyediakan Informasi Lengkap Tentang Event, Atraksi Wisata, dan Layanan Desa</h6>
        <div class="tombol_home">
            <a asp-area="" asp-controller="Event" asp-action="Index" asp-fragment="Populer" class="btn">Lihat Event Terbaru</a>
        </div>    
    </div>
</header>
<!--======================================================= LANDING ===================================================-->
