@{
    ViewData["Title"] = "Home Page";
}

<!--======================================================= LANDING ==================================================-->
<header class="header">
    <div class="section__container header__container" id="home">
        <p>Interaktif - Informatif - Terpercaya</p>
        <h1>Sistem Informasi <span>Desa</span><br /><span>Onekore</span> Kabupaten <span>Bandung</span></h1>
    </div>
</header>
<!--======================================================= LANDING ===================================================-->
