<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Manajemen Event</a></li>
                        <li class="breadcrumb-item active">Pengelolaan Event</li>
                    </ol>
                </div>
                <h4 class="page-title">Manajemen Distribusi</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3">Daftar Manajemen Produk</h4>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID Produk</th>
                                <th>Nama Produk</th>
                                <th>Deskripsi Produk</th>
                                <th>Kategori Produk</th>
                                <th>Unit Usaha Terkait</th>
                                <th>Harga Produk</th>
                                <th>Stok Awal</th>
                                <th>Stok Saat Ini</th>
                                <th>Status Ketersediaan</th>
                                <th>Tanggal Produksi Terakhir</th>
                                <th>Tanggal Kadaluarsa</th>
                                <th>Legalitas Produk</th>
                                <th>Media Promosi</th>
                                <th>Kolaborator</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>MP001</td>
                                <td>Batik Tulis Gilang</td>
                                <td>Batik tulis dengan pewarna alami dan motif khas Desa Gilangharjo.</td>
                                <td>Kerajinan</td>
                                <td>Batik Gilang Sejahtera</td>
                                <td>Rp150.000</td>
                                <td>100</td>
                                <td>50</td>
                                <td>Tersedia</td>
                                <td>2024-12-01</td>
                                <td>2024-12-01</td>
                                <td>PIRT 12345/2024, Halal MUI</td>
                                <td>gambar_batik.jpg</td>
                                <td>BPOM, Akademisi UGM</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                            </tr>

                            <tr>
                                <td>MP001</td>
                                <td>Batik Tulis Gilang</td>
                                <td>Batik tulis dengan pewarna alami dan motif khas Desa Gilangharjo.</td>
                                <td>Kerajinan</td>
                                <td>Batik Gilang Sejahtera</td>
                                <td>Rp150.000</td>
                                <td>100</td>
                                <td>50</td>
                                <td>Tersedia</td>
                                <td>2024-12-01</td>
                                <td>2024-12-01</td>
                                <td>PIRT 12345/2024, Halal MUI</td>
                                <td>gambar_batik.jpg</td>
                                <td>BPOM, Akademisi UGM</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>