<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Produk & Inventory</a></li>
                        <li class="breadcrumb-item active">Sertifikasi & Legalitas</li>
                    </ol>
                </div>
                <h4 class="page-title">Sertifikasi & Legalitas</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3">Daftar Sertifikasi & Legalitas</h4>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID Sertifikasi</th>
                                <th>ID Produk</th>
                                <th>Nama Produk</th>
                                <th>Jenis Sertifikasi</th>
                                <th>Nomor Sertifikasi</th>
                                <th>Tanggal Penerbitan</th>
                                <th>Tanggal Kadaluarsa</th>
                                <th>Pemberi Sertifikasi</th>
                                <th>Dokumen Sertifikasi</th>
                                <th>Proses yang Dilalui</th>
                                <th>Status Sertifikasi</th>
                                <th>Komentar/Kebutuhan Tambahan</th>
                                <th>Pihak Kolaborator</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>SL001</td>
                                <td>PL003</td>
                                <td>Geplak Bantul</td>
                                <td>Halal MUI</td>
                                <td>HALAL-56789/2024</td>
                                <td>2024-11-15</td>
                                <td>2026-11-15</td>
                                <td>BPOM</td>
                                <td>sertifikat_halal_geplak.pdf</td>
                                <td>Uji bahan baku, Audit produksi, Verifikasi dokumen</td>
                                <td>Aktif</td>
                                <td>Tingkatkan konsistensi bahan baku sesuai standar halal.</td>
                                <td>BPOM</td>
                                <td>2024-12-06</td>
                                <td>2024-12-11</td>
                                <td class="table-action">
                                    <a asp-area="Dashboard" asp-controller="ProdukDanInventory" asp-action="SertifikasiDanLegalitasDetail" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>                       
                                </td>
                            </tr>

                            <tr>
                                <td>SL002</td>
                                <td>PL004</td>
                                <td>Gudeg Manggar</td>
                                <td>BPOM</td>
                                <td>PIRT-67890/2024</td>
                                <td>2024-11-20</td>
                                <td>2026-11-20</td>
                                <td>BPOM</td>
                                <td>sertifikat_bpom_gudeg.pdf</td>
                                <td>Pengujian mikrobiologi, Uji kelayakan pabrik</td>
                                <td>Aktif</td>
                                <td>Tambahkan QR Code untuk akses informasi produk.</td>
                                <td>BPOM, Asosiasi Kuliner, Akademisi UGM</td>
                                <td>2024-12-07</td>
                                <td>2024-12-12</td>
                                <td class="table-action">
                                    <a asp-area="Dashboard" asp-controller="ProdukDanInventory" asp-action="SertifikasiDanLegalitasDetail" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>                     
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>