<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Manajemen Event</a></li>
                        <li class="breadcrumb-item active">Pengelolaan Event</li>
                    </ol>
                </div>
                <h4 class="page-title">Materi Edukasi</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daftar Materi Edukasi</h4>
                    <div class="pb-3 pt-1">
                        <a asp-area="Dashboard" asp-controller="PelatihanEdukasi" asp-action="Index" class="btn btn-primary">+ Tambah</a>
                    </div>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Judul</th>
                                <th>Deskripsi</th>
                                <th>Kategori</th>
                                <th>Penyedia</th>
                                <th>Target Audiens</th>
                                <th>Tipe</th>
                                <th>Link Unduhan</th>
                                <th>Tanggal Rilis</th>
                                <th>Feedback Audiens</th>
                                <th>Kolaborator</th>
                                <th>Dokumen Pendukung</th>
                                <th>Jumlah Pengguna</th>
                                <th>Status</th>
                                <th>Rekomendasi Pembaruan</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>ME001</td>
                                <td>Panduan Pemasaran Digital untuk Desa Wisata</td>
                                <td>Materi ini berisi panduan praktis untuk memasarkan produk dan layanan desa wisata melalui platform digital.</td>
                                <td>Praktis, Teoritis</td>
                                <td>Akademisi UGM, Dinas Pariwisata</td>
                                <td>Pokdarwis, Kelompok Preneur</td>
                                <td>PDF, Video, Presentasi</td>
                                <td><a href="https://desa-wisata/materi001.pdf">Link Unduhan</a></td>
                                <td>2024-12-01</td>
                                <td>Materi sangat membantu, namun perlu penjelasan lebih detail tentang strategi pemasaran internasional.</td>
                                <td>Akademisi, Dinas Koperasi & UMKM</td>
                                <td>modul_pemasaran.pdf</td>
                                <td>120</td>
                                <td>Berlaku, Kadaluarsa, Perlu Pembaruan</td>
                                <td>Tambahkan contoh penggunaan media sosial untuk pasar lokal.</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                                <td class="table-action">
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Delete"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td>ME001</td>
                                <td>Panduan Pemasaran Digital untuk Desa Wisata</td>
                                <td>Materi ini berisi panduan praktis untuk memasarkan produk dan layanan desa wisata melalui platform digital.</td>
                                <td>Praktis, Teoritis</td>
                                <td>Akademisi UGM, Dinas Pariwisata</td>
                                <td>Pokdarwis, Kelompok Preneur</td>
                                <td>PDF, Video, Presentasi</td>
                                <td><a href="https://desa-wisata/materi001.pdf">Link Unduhan</a></td>
                                <td>2024-12-01</td>
                                <td>Materi sangat membantu, namun perlu penjelasan lebih detail tentang strategi pemasaran internasional.</td>
                                <td>Akademisi, Dinas Koperasi & UMKM</td>
                                <td>modul_pemasaran.pdf</td>
                                <td>120</td>
                                <td>Berlaku, Kadaluarsa, Perlu Pembaruan</td>
                                <td>Tambahkan contoh penggunaan media sosial untuk pasar lokal.</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                                <td class="table-action">
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Delete"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>