<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Pelatihan & Edukasi</a></li>
                        <li class="breadcrumb-item active">Materi Edukasi & Pembelajaran</li>
                    </ol>
                </div>
                <h4 class="page-title">Materi Edukasi</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3">Daftar Materi Edukasi & Pembelajaran</h4>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID Materi</th>
                                <th>Judul Materi</th>
                                <th>Deskripsi Materi</th>
                                <th>Kategori Materi</th>
                                <th>Penyedia Materi</th>
                                <th>Target Audiens</th>
                                <th>Tipe Materi</th>
                                <th>Link Unduhan</th>
                                <th>Tanggal Rilis</th>
                                <th>Feedback dari Audiens</th>
                                <th>Kolaborator dalam Materi</th>
                                <th>Dokumen Pendukung</th>
                                <th>Jumlah Pengguna</th>
                                <th>Status Materi</th>
                                <th>Rekomendasi Pembaruan Materi</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>ME001</td>
                                <td>Panduan Pemasaran Digital untuk Desa Wisata</td>
                                <td>Materi ini berisi panduan praktis untuk memasarkan produk dan layanan desa wisata melalui platform digital.</td>
                                <td>Praktis</td>
                                <td>Akademisi UGM, Dinas Pariwisata</td>
                                <td>Pokdarwis, Kelompok Preneur</td>
                                <td>PDF, Video, Presentasi</td>
                                <td><a href="https://desa-wisata/materi001.pdf">Link Unduhan</a></td>
                                <td>2024-12-01</td>
                                <td>Materi sangat membantu, namun perlu penjelasan lebih detail tentang strategi pemasaran internasional.</td>
                                <td>Akademisi, Dinas Koperasi & UMKM</td>
                                <td>modul_pemasaran.pdf</td>
                                <td>120</td>
                                <td>Berlaku</td>
                                <td>Tambahkan contoh penggunaan media sosial untuk pasar lokal.</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                                <td class="table-action">
                                    <a asp-area="Dashboard" asp-controller="PelatihanEdukasi" asp-action="MateriEdukasiDetail" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>                                   
                                </td>
                            </tr>

                            <tr>
                                <td>ME001</td>
                                <td>Panduan Pemasaran Digital untuk Desa Wisata</td>
                                <td>Materi ini berisi panduan praktis untuk memasarkan produk dan layanan desa wisata melalui platform digital.</td>
                                <td>Praktis</td>
                                <td>Akademisi UGM, Dinas Pariwisata</td>
                                <td>Pokdarwis, Kelompok Preneur</td>
                                <td>PDF, Video, Presentasi</td>
                                <td><a href="https://desa-wisata/materi001.pdf">Link Unduhan</a></td>
                                <td>2024-12-01</td>
                                <td>Materi sangat membantu, namun perlu penjelasan lebih detail tentang strategi pemasaran internasional.</td>
                                <td>Akademisi, Dinas Koperasi & UMKM</td>
                                <td>modul_pemasaran.pdf</td>
                                <td>120</td>
                                <td>Berlaku</td>
                                <td>Tambahkan contoh penggunaan media sosial untuk pasar lokal.</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                                <td class="table-action">
                                    <a asp-area="Dashboard" asp-controller="PelatihanEdukasi" asp-action="MateriEdukasiDetail" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>