<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Pelatihan & Edukasi</a></li>
                        <li class="breadcrumb-item active">Materi Edukasi & Pembelajaran</li>
                    </ol>
                </div>
                <h4 class="page-title">Materi Edukasi</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3">Daftar Materi Edukasi & Pembelajaran</h4>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID Materi</th>
                                <th>Judul Materi</th>
                                <th>Deskripsi Materi</th>
                                <th>Kategori Materi</th>
                                <th>Penyedia Materi</th>
                                <th>Target Audiens</th>
                                <th>Tipe Materi</th>
                                <th>Link Unduhan</th>
                                <th>Tanggal Rilis</th>
                                <th>Feedback dari Audiens</th>
                                <th>Kolaborator dalam Materi</th>
                                <th>Dokumen Pendukung</th>
                                <th>Jumlah Pengguna</th>
                                <th>Status Materi</th>
                                <th>Rekomendasi Pembaruan Materi</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>ME001</td>
                                <td>Panduan Pembangunan Berbasis Data di Desa</td>
                                <td>Materi ini memberikan panduan kepada perangkat desa tentang bagaimana memanfaatkan data untuk perencanaan dan pelaksanaan pembangunan yang tepat sasaran.</td>
                                <td>Teoritis</td>
                                <td>Pemerintah Daerah DIY</td>
                                <td>Kelompok Budaya, UMKM</td>
                                <td>PDF</td>
                                <td>
                                    <a href="/assets/materi_edukasi/3369215431bb4f91ab9c46bc962557fb.pdf">
                                        Link Unduhan
                                    </a>
                                </td>
                                <td>2024-01-10</td>
                                <td>Sangat membantu dalam pengelolaan program desa berbasis data.</td>
                                <td>BPOM, Academics</td>
                                <td>
                                    <a href="/assets/materi_edukasi/e0750be2c657484c99252de77bb24f77.pdf">
                                        /assets/materi_edukasi/e0750be2c657484c99252de77bb24f77.pdf
                                    </a>
                                </td>
                                <td>1200</td>
                                <td>Berlaku</td>
                                <td>Tambahkan contoh penggunaan media sosial untuk pasar lokal.</td>
                                <td>2024-12-29</td>
                                <td>2024-12-29</td>
                                <td class="table-action">
                                    <a asp-area="Dashboard" asp-controller="PelatihanEdukasi" asp-action="MateriEdukasiDetail" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td>ME002</td>
                                <td>Pelatihan Digitalisasi Layanan Desa</td>
                                <td>Video pelatihan ini membahas langkah-langkah untuk mengimplementasikan layanan administrasi desa secara digital, seperti pembuatan surat online dan sistem informasi kependudukan.</td>
                                <td>Pelatihan</td>
                                <td>Kominfo Yogyakarta</td>
                                <td>Lainnya</td>
                                <td>Video</td>
                                <td><a href="/assets/materi_edukasi/95ac5b6c82a84dfa9278d79b23cef0af.mp4">Link Unduhan</a></td>
                                <td>2024-03-20</td>
                                <td>Langkah-langkahnya mudah dipahami dan dapat langsung diterapkan.</td>
                                <td>Assosiacation, BPOM</td>
                                <td><a href="/assets/materi_edukasi/74089cdb7b9740b0be345b8293f0dd51.pdf">/assets/materi_edukasi/74089cdb7b9740b0be345b8293f0dd51.pdf</a></td>
                                <td>2500</td>
                                <td>Berlaku</td>
                                <td>Tambahkan contoh penggunaan media sosial untuk pasar lokal.</td>
                                <td>2024-12-29</td>
                                <td>2024-12-29</td>
                                <td class="table-action">
                                    <a asp-area="Dashboard" asp-controller="PelatihanEdukasi" asp-action="MateriEdukasiDetail" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>