<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Pelatihan & Edukasi</a></li>
                        <li class="breadcrumb-item active">Peningkatan Kapasitas</li>
                    </ol>
                </div>
                <h4 class="page-title">Peningkatan Kapasitas</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3">Daftar Peningkatan Kapasitas</h4>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID Pelatihan</th>
                                <th>Nama Pelatihan</th>
                                <th>Deskripsi Pelatihan</th>
                                <th>Kategori Pelatihan</th>
                                <th>Penyelenggara Pelatihan</th>
                                <th>Tanggal Pelaksanaan</th>
                                <th>Durasi Pelatihan</th>
                                <th>Lokasi Pelatihan</th>
                                <th>Target Peserta</th>
                                <th>Jumlah Peserta</th>
                                <th>Fasilitator</th>
                                <th>Materi Pelatihan</th>
                                <th>Evaluasi Peserta</th>
                                <th>Dokumen dan Media</th>
                                <th>Feedback dari Peserta</th>
                                <th>Kolaborator Pelatihan</th>
                                <th>Rekomendasi untuk Pelatihan Berikutnya</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>PC001</td>
                                <td>Strategi Digital untuk Pemasaran Desa Wisata</td>
                                <td>Pelatihan ini membantu peserta memahami cara menggunakan platform digital untuk meningkatkan promosi desa wisata.</td>
                                <td>Kewirausahaan</td>
                                <td>Dinas Pariwisata Yogyakarta</td>
                                <td>2024-01-15</td>
                                <td>16.0 Jam</td>
                                <td>Aula Balai Desa Nglinggo, Kulon Progo</td>
                                <td>Pokdarwis, Kelompok wisata</td>
                                <td>50</td>
                                <td>Dr. Budi Santoso (Ahli Pemasaran Digital)</td>
                                <td>Peserta akan mempelajari dasar-dasar digital marketing, cara membuat konten kreatif untuk promosi, memanfaatkan media sosial untuk branding desa, serta melakukan evaluasi dan optimalisasi kampanye digital.</td>
                                <td>Quiz dan simulasi pemasaran digital</td>
                                <td>
                                    <a href="/assets/pelatihan/8597ae553bef447798b11686b0c7930d.pdf">/assets/pelatihan/8597ae553bef447798b11686b0c7930d.pdf</a>
                                </td>
                                <td>Kuesioner tentang relevansi materi dan keefektifan pelatihan.</td>
                                <td>BPOM, Academics</td>
                                <td>Tambahkan sesi praktik langsung dengan tamu.</td>
                                <td>2024-12-29</td>
                                <td>2024-12-29</td>
                                <td class="table-action">
                                    <a asp-area="Dashboard" asp-controller="PelatihanEdukasi" asp-action="PeningkatanEdukasiDetail" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>                         
                                </td>
                            </tr>

                            <tr>
                                <td>PC002</td>
                                <td>Manajemen Keuangan untuk Usaha Desa Wisata</td>
                                <td>Peserta diajarkan teknik pengelolaan keuangan yang efektif untuk usaha di desa wisata.</td>
                                <td>Manajemen</td>
                                <td>Bank BPD DIY</td>
                                <td>2024-02-20</td>
                                <td>8.0 Jam</td>
                                <td>Gedung Serbaguna Desa Mangunan, Bantul</td>
                                <td>Kelompok wisata, Kelompok budaya</td>
                                <td>30</td>
                                <td>Maya Andini, M.Sc. (Konsultan Keuangan)</td>
                                <td>Peserta akan belajar cara mengelola arus kas, menyusun perencanaan anggaran dan investasi, serta membuat laporan keuangan untuk usaha kecil secara efektif.</td>
                                <td>Studi kasus pengelolaan keuangan.</td>
                                <td>
                                    <a href="/assets/pelatihan/d4c113da4b974bc097923bb7e91a786d.pdf">/assets/pelatihan/d4c113da4b974bc097923bb7e91a786d.pdf</a>
                                </td>
                                <td>Saran tentang metode pembelajaran</td>
                                <td>Assosiacation, BPOM</td>
                                <td>Tambahkan sesi praktik langsung dengan tamu.</td>
                                <td>2024-12-29</td>
                                <td>2024-12-29</td>
                                <td class="table-action">
                                    <a asp-area="Dashboard" asp-controller="PelatihanEdukasi" asp-action="PeningkatanEdukasiDetail" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>                                   
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>