<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Preneur</a></li>
                        <li class="breadcrumb-item active">Produk Lokal</li>
                    </ol>
                </div>
                <h4 class="page-title">Produk Lokal</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daftar Produk Lokal</h4>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nama</th>
                                <th>Deskripsi</th>
                                <th>Kategori</th>
                                <th>Harga</th>
                                <th>Unit Usaha Terkait</th>
                                <th>Bahan Utama</th>
                                <th>Status Ketersediaan</th>
                                <th>Tanggal Produksi Terkahir</th>
                                <th>Tanggal Kadaluarsa</th>
                                <th>Legalitas & Sertifikasi</th>
                                <th>Kontak Informasi</th>
                                <th>Media Promosi</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr>
                                <td>PL001</td>
                                <td>Batik Tulis Motif Gilang</td>
                                <td>Batik tulis berbahan katun dengan motif khas Desa Gilangharjo.</td>
                                <td>Kerajinan, Makanan, Minuman</td>
                                <td>Rp150.000</td>
                                <td>Batik Gilang Sejahtera</td>
                                <td>Katun, Pewarna Alami</td>
                                <td>Tersedia</td>
                                <td>2024-12-01</td>
                                <td>2025-12-01</td>
                                <td>PIRT 12345/2024, Halal MUI</td>
                                <td>+62 812-3456-7890</td>
                                <td>gambar_batik.jpg</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                            </tr>

                            <tr>
                                <td>PL001</td>
                                <td>Batik Tulis Motif Gilang</td>
                                <td>Batik tulis berbahan katun dengan motif khas Desa Gilangharjo.</td>
                                <td>Kerajinan, Makanan, Minuman</td>
                                <td>Rp150.000</td>
                                <td>Batik Gilang Sejahtera</td>
                                <td>Katun, Pewarna Alami</td>
                                <td>Tersedia</td>
                                <td>2024-12-01</td>
                                <td>2025-12-01</td>
                                <td>PIRT 12345/2024, Halal MUI</td>
                                <td>+62 812-3456-7890</td>
                                <td>gambar_batik.jpg</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>