<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Preneur</a></li>
                        <li class="breadcrumb-item active">Unit Usaha</li>
                    </ol>
                </div>
                <h4 class="page-title">Unit Usaha</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daftar Unit Usaha</h4>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nama</th>
                                <th>Deskripsi</th>
                                <th>Kategori</th>
                                <th>Alamat/Lokasi</th>
                                <th>Koordinat Lokasi</th>
                                <th>Pemilik Usaha</th>
                                <th>Jumlah Karyawan</th>
                                <th>Produk/Jasa yang Ditawarkan</th>
                                <th>Legalitas Usaha</th>
                                <th>Tanggal Berdiri</th>
                                <th>Kontak Informasi</th>
                                <th>Media Promosi</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr>
                                <td>UU001</td>
                                <td>Batik Gilang Sejahtera</td>
                                <td>Unit usaha yang memproduksi batik tulis dengan motif khas Gilangharjo.</td>
                                <td>Produksi, Jasa, Distribusi</td>
                                <td>Rp150.000</td>
                                <td>Jl. Raya Gilang No. 15, Bantul</td>
                                <td>-7.917, 110.329</td>
                                <td>Ibu Siti Aisyah</td>
                                <td>10</td>
                                <td>Batik Tulis, Batik Cap</td>
                                <td>Memiliki Izin</td>
                                <td>2015-07-15</td>
                                <td>+62 812-3456-7890</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                            </tr>

                            <tr>
                                <td>UU001</td>
                                <td>Batik Gilang Sejahtera</td>
                                <td>Unit usaha yang memproduksi batik tulis dengan motif khas Gilangharjo.</td>
                                <td>Produksi, Jasa, Distribusi</td>
                                <td>Rp150.000</td>
                                <td>Jl. Raya Gilang No. 15, Bantul</td>
                                <td>-7.917, 110.329</td>
                                <td>Ibu Siti Aisyah</td>
                                <td>10</td>
                                <td>Batik Tulis, Batik Cap</td>
                                <td>Memiliki Izin</td>
                                <td>2015-07-15</td>
                                <td>+62 812-3456-7890</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>