<section class="section__container">
    <p class="section__subheader">Informasi Desa</p>
    <h2 class="section__header">Artefak Budaya</h2>
    <div class="card-gallery">
        <div class="card">
            <img src="~/assets/artefak-test.png" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Keris Ki Ageng Gilang</h3>
                <p class="description">Keris ini dipercaya sebagai pusaka warisan Ki Ageng Gilang.....</p>
                <a asp-area="" asp-controller="Atraksi" asp-action="DetailArtefak" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/artefak-test.png" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Keris Ki Ageng Gilang</h3>
                <p class="description">Keris ini dipercaya sebagai pusaka warisan Ki Ageng Gilang.....</p>
                <a asp-area="" asp-controller="Atraksi" asp-action="DetailArtefak" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/artefak-test.png" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Keris Ki Ageng Gilang</h3>
                <p class="description">Keris ini dipercaya sebagai pusaka warisan Ki Ageng Gilang.....</p>
                <a asp-area="" asp-controller="Atraksi" asp-action="DetailArtefak" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>     
        <div class="card">
            <img src="~/assets/artefak-test.png" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Keris Ki Ageng Gilang</h3>
                <p class="description">Keris ini dipercaya sebagai pusaka warisan Ki Ageng Gilang.....</p>
                <a asp-area="" asp-controller="Atraksi" asp-action="DetailArtefak" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <!-- Tambahkan lebih banyak card sesuai kebutuhan -->
    </div>
</section>