<section class="section__container">
    <p class="section__subheader">Informasi Desa</p>
    <h2 class="section__header">Destinasi Wisata</h2>
    <div class="card-gallery">
        <div class="card">
            <img src="~/assets/header.jpg" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Pantai Gilang</h3>
                <p class="description">Pantai dengan pasir putih dan tebing karst yang indah....</p>
                <a href="#" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/header.jpg" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Pantai Gilang</h3>
                <p class="description">Pantai dengan pasir putih dan tebing karst yang indah....</p>
                <a asp-area="" asp-controller="Atraksi" asp-action="DetailDestinasi" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/header.jpg" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Pantai Gilang</h3>
                <p class="description">Pantai dengan pasir putih dan tebing karst yang indah....</p>
                <a href="#" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/header.jpg" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Pantai Gilang</h3>
                <p class="description">Pantai dengan pasir putih dan tebing karst yang indah....</p>
                <a href="#" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/header.jpg" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Pantai Gilang</h3>
                <p class="description">Pantai dengan pasir putih dan tebing karst yang indah....</p>
                <a href="#" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/header.jpg" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Pantai Gilang</h3>
                <p class="description">Pantai dengan pasir putih dan tebing karst yang indah....</p>
                <a href="#" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/header.jpg" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Pantai Gilang</h3>
                <p class="description">Pantai dengan pasir putih dan tebing karst yang indah....</p>
                <a href="#" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/header.jpg" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Pantai Gilang</h3>
                <p class="description">Pantai dengan pasir putih dan tebing karst yang indah....</p>
                <a href="#" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <!-- Tambahkan lebih banyak card sesuai kebutuhan -->
    </div>
</section>