<section class="section__container atraksi_container">
    <div class="col-md-8">
        <!-- Kategori, Status, Judul, Deskripsi -->
        <div class="section">
            <div class="grup_kategori_status">
                <div class="kategori">
                    <p>Artefak Ritual</p>
                </div>
                <div class="status">
                    <p><span class="badge" style="background-color: green; color: white;">Tersedia untuk pameran</span></p>
                </div>
            </div>
            <h2 class="judul">Keris Ki Ageng Kilang</h2>
            <p>Keris ini dipercaya sebagai pusaka warisan Ki Ageng Gilang.</p>
        </div>

        <!-- Informasi Detail -->
        <div class="section">
            <div class="info-grid">
                <div>
                    <strong>Lokasi Penyimpanan:</strong>
                    <p>Museum Desa Gilangharjo</p>
                </div>
                <div>
                    <strong>Kondisi Artefak:</strong>
                    <p>Baik</p>
                </div>
                <div>
                    <strong>Usia Artefak:</strong>
                    <p>Abad ke-17</p>
                </div>
                <div>
                    <strong>Bahan Artefak:</strong>
                    <p>Besi, Perunggu</p>
                </div>
                <div>
                    <strong>Dimensi Artefak:</strong>
                    <p>Panjang: 40 cm, Lebar: 10 cm</p>
                </div>
                <div>
                    <strong>Pemilik/Pengelola</strong>
                    <p>Kelompok Budaya Desa Gilangharjo</p>
                </div>
                <div>
                    <strong>Nilai Historis:</strong>
                    <p>Artefak ini digunakan dalam upacara adat sejak abad ke-17."</p>
                </div>
                <div>
                    <strong>Rating:</strong>
                    <p>4.5 ★</p>
                </div>
            </div>
        </div>   
        <div class="section">
            <h4>Komentar Pengunjung</h4>
            <p>"Artefak yang sangat menarik, tetapi informasi lebih detail diperlukan."</p>
        </div>
    </div>
    <div class="col-md-4">
        <!-- Gambar/Foto -->
        <div class="section">
            <img src="~/assets/artefak-test.png" alt="Pantai Gilang" class="main-image">
        </div>
    </div>
</section>






