<div class="pembungkus">
    <section class="breadcumbs__container ">
        <nav class="breadcrumbs">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a asp-area="" asp-controller="Atraksi" asp-action="Index">Atraksi Wisata</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a asp-area="" asp-controller="Atraksi" asp-action="Seni">Seni Budaya</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a href="">Tari Gamelan Gilang</a></li>
            </ul>
        </nav>
    </section>

    <section class="section__container atraksi_container">
        <!-- Gambar/Foto -->
        <div class="section">
            <img src="~/assets/seni2-test.png" alt="Pantai Gilang" class="main-image">
        </div>
        <!-- Kategori, Status, Judul, Deskripsi -->
        <div class="section">
            <div class="grup_kategori_status">
                <div class="kategori">
                    <p>Seni Tari</p>
                </div>
            </div>
            <h2 class="judul">Tari Gamelan Gilang</h2>
            <p>Tari tradisional yang menggambarkan semangat masyarakat Desa Gilangharjo.</p>
        </div>

        <!-- Informasi Detail -->
        <div class="section">
            <div class="info-grid">
                <div>
                    <strong>Nama Pelaku Seni:</strong>
                    <p>Kelompok Tari Langen Mudo</p>
                </div>
                <div>
                    <strong>Lokasi Pertunjukan:</strong>
                    <p>Balai Desa Gilangharjo</p>
                </div>
                <div>
                    <strong>Waktu Pertunjukan:</strong>
                    <p>Sabtu, 19:00 - 21:00</p>
                </div>
                <div>
                    <strong>Fasilitas Pertunjukan:</strong>
                    <p>Panggung, Sistem Audio, Penerangan</p>
                </div>
                <div>
                    <strong>Durasi Pertunjukan:</strong>
                    <p>1,5 jam</p>
                </div>
                <div>
                    <strong>Harga Tiket:</strong>
                    <p>Rp.20.000</p>
                </div>
                <div>
                    <strong>Popularitas:</strong>
                    <p>4.5 ★</p>
                </div>
                <div>
                    <strong>Peraturan Khusus:</strong>
                    <p>Dilarang merekam video selama pertunjukan berlangsung.</p>
                </div>
            </div>
        </div>

        <div class="section">
            <h4>Komentar Pengunjung</h4>
            <p>"Pertunjukan sangat memukau, musiknya otentik."</p>
        </div>
    </section>
</div>