<div class="pembungkus">
    <section class="breadcumbs__container ">
        <nav class="breadcrumbs">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a asp-area="" asp-controller="Atraksi" asp-action="Index">Atraksi Wisata</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a asp-area="" asp-controller="Atraksi" asp-action="Artefak">Artefak Budaya</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a href="">Keris Ki Ageng Kilang</a></li>
            </ul>
        </nav>
    </section>

    <section class="section__container atraksi_container">
        <div class="col-md-4">
            <div class="section">
                <img src="~/assets/artefak-test.png" alt="Pantai Gilang" class="main-image">
            </div>
        </div>
        <div class="col-md-8">
            <div class="section">
                <div class="grup_kategori_status">
                    <div class="kategori">
                        <p>Artefak Ritual</p>
                    </div>
                    <div class="status">
                        <p><span class="badge" style="background-color: green; color: white;">Tersedia untuk pameran</span></p>
                    </div>
                </div>
                <h2 class="judul">Keris Ki Ageng Kilang</h2>
                <p>Keris ini dipercaya sebagai pusaka warisan Ki Ageng Gilang.</p>
            </div>

            <div class="section">
                <div class="info-grid">
                    <div>
                        <strong>Lokasi Penyimpanan:</strong>
                        <p>Museum Desa Gilangharjo</p>
                    </div>
                    <div>
                        <strong>Kondisi Artefak:</strong>
                        <p>Baik</p>
                    </div>
                    <div>
                        <strong>Usia Artefak:</strong>
                        <p>Abad ke-17</p>
                    </div>
                    <div>
                        <strong>Bahan Artefak:</strong>
                        <p>Besi, Perunggu</p>
                    </div>
                    <div>
                        <strong>Dimensi Artefak:</strong>
                        <p>Panjang: 40 cm, Lebar: 10 cm</p>
                    </div>
                    <div>
                        <strong>Pemilik/Pengelola</strong>
                        <p>Kelompok Budaya Desa Gilangharjo</p>
                    </div>
                    <div>
                        <strong>Nilai Historis:</strong>
                        <p>Artefak ini digunakan dalam upacara adat sejak abad ke-17."</p>
                    </div>
                    <div>
                        <strong>Rating:</strong>
                        <p>4.5 ★</p>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <section class="section__container komentar__container">
        <div class="grup_judul_tambah_komentar">
            <div class="d-flex" style="gap: 20px; align-items: center;">
                <h4>Komentar Pengunjung</h4>
                <p style="font-weight:500;">4.5 ★ (3 Ulasan)</p>
            </div>
            <button class="btn-komentar">Berikan Ulasan</button>
        </div>
        <div class="kumpulan_komentar">
            <div class="card_komentar">
                <div class="rating_tanggal_komentar">
                    <div class="d-flex" style="gap: 10px;">
                        <h3>Fernand Putra</h3>
                        <p class="rating_text">4.5/5 ★</p>
                    </div>
                    <h6>26 Desember 2024</h6>
                </div>
                <p>Artefak yang sangat menarik, tetapi informasi lebih detail diperlukan.</p>
            </div>
            <div class="card_komentar">
                <div class="rating_tanggal_komentar">
                    <div class="d-flex" style="gap: 10px;">
                        <h3>Fernand Putra</h3>
                        <p class="rating_text">4.5/5 ★</p>
                    </div>
                    <h6>26 Desember 2024</h6>
                </div>
                <p>Artefak yang sangat menarik, tetapi informasi lebih detail diperlukan.</p>
            </div>
            <div class="card_komentar">
                <div class="rating_tanggal_komentar">
                    <div class="d-flex" style="gap: 10px;">
                        <h3>Fernand Putra</h3>
                        <p class="rating_text">4.5/5 ★</p>
                    </div>
                    <h6>26 Desember 2024</h6>
                </div>
                <p>Artefak yang sangat menarik, tetapi informasi lebih detail diperlukan.</p>
            </div>
        </div>
    </section>
</div>