<section class="section__container atraksi_container">
    <div class="col-md-4">
        <!-- Gambar/Foto -->
        <div class="section">
            <img src="~/assets/produklokal-test.png" alt="Pantai Gilang" class="main-image">
        </div>
    </div>
    <div class="col-md-8">
        <!-- Kategori, Status, Judul, Deskripsi -->
        <div class="section">
            <div class="grup_kategori_status">
                <div class="kategori">
                    <p>Produk Kerajinan</p>
                </div>
                <div class="status">
                    <p><span class="badge" style="background-color: green; color: white;">Tersedia</span></p>
                </div>
            </div>
            <h2 class="judul">Batik Tulis Motif Gilang</h2>
            <p>Batik tulis berbahan katun dengan motif khas Desa Gilangharjo.</p>
        </div>

        <!-- Informasi Detail -->
        <div class="section">
            <div class="info-grid">
                <div>
                    <strong>Harga Produk:</strong>
                    <p>Rp150.000</p>
                </div>
                <div>
                    <strong>Unit Usaha Terkait:</strong>
                    <p>Batik Gilang Sejahtera</p>
                </div>
                <div>
                    <strong>Bahan Utama:</strong>
                    <p>Katun, Pewarna Alami</p>
                </div>
                <div>
                    <strong>Tanggal Produksi Terakhir:</strong>
                    <p>2024-12-01</p>
                </div>
                <div>
                    <strong>Tanggal Kadaluarsa:</strong>
                    <p>2025-12-01</p>
                </div>
                <div>
                    <strong>Legalitas & Sertifikasi</strong>
                    <p>PIRT 12345/2024, Halal MUI</p>
                </div>
                <div>
                    <strong>Kontak Informasi:</strong>
                    <p>+62 812-3456-7890"</p>
                </div>
            </div>
        </div>
    </div>
    
</section>






