
<section class="section__container">
    <p class="section__subheader">Informasi Desa</p>
    <h2 class="section__header">Atraksi Wisata</h2>
    <div class="atraksi-gallery">
        <a asp-area="" asp-controller="Atraksi" asp-action="Destinasi">
            <div class="atraksi-card">
                <img src="~/assets/gallery-1.jpg" alt="Danau Toba">
                <h3>Destinasi Wisata</h3>
            </div>
        </a>
        
        <div class="atraksi-card">
            <img src="~/assets/gallery-1.jpg" alt="Borobudur">
            <h3>Artefak</h3>
        </div>
        <div class="atraksi-card">
            <img src="~/assets/gallery-1.jpg" alt="Mandalika">
            <h3>Seni</h3>
        </div>
        <div class="atraksi-card">
            <img src="~/assets/gallery-1.jpg" alt="Labuan Bajo">
            <h3>Situs</h3>
        </div>
        <div class="atraksi-card">
            <img src="~/assets/gallery-1.jpg" alt="Likupang">
            <h3>Upacara Budaya</h3>
        </div>
        <div class="atraksi-card">
            <img src="~/assets/gallery-1.jpg" alt="Likupang">
            <h3>Produk/Kuliner Lokal</h3>
        </div>
    </div>
</section>