<section class="section__container">
    <p class="section__subheader">Informasi Desa</p>
    <h2 class="section__header">Produk/Kuliner Lokal</h2>
    <div class="card-gallery">
        <div class="card">
            <img src="~/assets/produklokal-test.png" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Batik Tulis Motif Gilang</h3>
                <p class="description">Batik tulis berbahan katun dengan motif khas Desa Gilangharjo.</p>
                <a asp-area="" asp-controller="Atraksi" asp-action="DetailProdukLokal" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/produklokal-test.png" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Batik Tulis Motif Gilang</h3>
                <p class="description">Batik tulis berbahan katun dengan motif khas Desa Gilangharjo.</p>
                <a asp-area="" asp-controller="Atraksi" asp-action="DetailProdukLokal" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/produklokal-test.png" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Batik Tulis Motif Gilang</h3>
                <p class="description">Batik tulis berbahan katun dengan motif khas Desa Gilangharjo.</p>
                <a asp-area="" asp-controller="Atraksi" asp-action="DetailProdukLokal" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/produklokal-test.png" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Batik Tulis Motif Gilang</h3>
                <p class="description">Batik tulis berbahan katun dengan motif khas Desa Gilangharjo.</p>
                <a asp-area="" asp-controller="Atraksi" asp-action="DetailProdukLokal" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
    </div>
</section>