<header class="header">
    <div class="section__container header__container" id="home">
        <h1>Produk/Kuliner Lokal</h1>
    </div>
</header>

<section class="breadcumbs__container ">
    <nav class="breadcrumbs">
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><i class="ri-arrow-right-s-line"></i></li>
            <li><a asp-area="" asp-controller="Atraksi" asp-action="Index">Atraksi Wisata</a></li>
            <li><i class="ri-arrow-right-s-line"></i></li>
            <li><a href="">Produk/Kuliner Lokal</a></li>
        </ul>
    </nav>
</section>

<section class="section__container produklokal__container">
    <p class="section__subheader">Produk Khas Gilangharjo</p>
    <h2 class="section__header">Produk/Kuliner Lokal</h2>
    <div class="card-gallery">
        <div class="card">
            <img src="~/assets/produklokal-test.png" alt="Image 1">
            <div class="card-content">
                <div class="category">Kerajinan</div>
                <h3 class="title">Batik Tulis Motif Gilang</h3>
                <p class="description">Batik tulis berbahan katun dengan motif khas Desa Gilangharjo.</p>
                <a asp-area="" asp-controller="Atraksi" asp-action="DetailProdukLokal" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/produklokal-test.png" alt="Image 1">
            <div class="card-content">
                <div class="category">Kerajinan</div>
                <h3 class="title">Batik Tulis Motif Gilang</h3>
                <p class="description">Batik tulis berbahan katun dengan motif khas Desa Gilangharjo.</p>
                <a asp-area="" asp-controller="Atraksi" asp-action="DetailProdukLokal" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/produklokal-test.png" alt="Image 1">
            <div class="card-content">
                <div class="category">Kerajinan</div>
                <h3 class="title">Batik Tulis Motif Gilang</h3>
                <p class="description">Batik tulis berbahan katun dengan motif khas Desa Gilangharjo.</p>
                <a asp-area="" asp-controller="Atraksi" asp-action="DetailProdukLokal" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/produklokal-test.png" alt="Image 1">
            <div class="card-content">
                <div class="category">Kerajinan</div>
                <h3 class="title">Batik Tulis Motif Gilang</h3>
                <p class="description">Batik tulis berbahan katun dengan motif khas Desa Gilangharjo.</p>
                <a asp-area="" asp-controller="Atraksi" asp-action="DetailProdukLokal" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
    </div>
</section>