<section class="section__container">
    <p class="section__subheader">Informasi Desa</p>
    <h2 class="section__header">Seni Budaya</h2>
    <div class="card-gallery">
        <div class="card">
            <img src="~/assets/seni-test.png" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Tari Gamelan Gilang</h3>
                <p class="description">Tari tradisional yang menggambarkan semangat masyarakat Desa Gilangharjo.</p>
                <a asp-area="" asp-controller="Atraksi" asp-action="DetailSeni" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/seni-test.png" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Tari Gamelan Gilang</h3>
                <p class="description">Tari tradisional yang menggambarkan semangat masyarakat Desa Gilangharjo.</p>
                <a asp-area="" asp-controller="Atraksi" asp-action="DetailSeni" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/seni-test.png" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Tari Gamelan Gilang</h3>
                <p class="description">Tari tradisional yang menggambarkan semangat masyarakat Desa Gilangharjo.</p>
                <a asp-area="" asp-controller="Atraksi" asp-action="DetailSeni" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/seni-test.png" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Tari Gamelan Gilang</h3>
                <p class="description">Tari tradisional yang menggambarkan semangat masyarakat Desa Gilangharjo.</p>
                <a asp-area="" asp-controller="Atraksi" asp-action="DetailSeni" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
    </div>
</section>