<section class="section__container">
    <p class="section__subheader">Informasi Desa</p>
    <h2 class="section__header">Upacara Budaya</h2>
    <div class="card-gallery">
        <div class="card">
            <img src="~/assets/upacara-test.png" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Ritual Sedekah Laut</h3>
                <p class="description">Ritual tahunan untuk memohon keberkahan hasil laut bagi masyarakat pesisir.</p>
                <a asp-area="" asp-controller="Atraksi" asp-action="DetailUpacara" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/upacara-test.png" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Ritual Sedekah Laut</h3>
                <p class="description">Ritual tahunan untuk memohon keberkahan hasil laut bagi masyarakat pesisir.</p>
                <a asp-area="" asp-controller="Atraksi" asp-action="DetailUpacara" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/upacara-test.png" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Ritual Sedekah Laut</h3>
                <p class="description">Ritual tahunan untuk memohon keberkahan hasil laut bagi masyarakat pesisir.</p>
                <a asp-area="" asp-controller="Atraksi" asp-action="DetailUpacara" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/upacara-test.png" alt="Image 1">
            <div class="card-content">
                <div class="category">Kategori</div>
                <h3 class="title">Ritual Sedekah Laut</h3>
                <p class="description">Ritual tahunan untuk memohon keberkahan hasil laut bagi masyarakat pesisir.</p>
                <a asp-area="" asp-controller="Atraksi" asp-action="DetailUpacara" class="read-more">Lihat Lebih Lanjut</a>
            </div>
        </div>
    </div>
</section>