﻿<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Manajemen Event</a></li>
                        <li class="breadcrumb-item"><a asp-area="Dashboard" asp-controller="ManajemenEvent" asp-action="PelaporanDokumentasi">Pelaporan & Dokumentasi Event</a></li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                </div>
                @* <h4 class="page-title">Tambah</h4> *@
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Edit Pelaporan & Dokumentasi Event</h4>
                    <form>
                        <div class="row">
                            <div class="mb-3">
                                <label for="example-textarea" class="form-label" style="font-weight:bold;">Masukan Kolaborator<span class="text-danger">*</span></label>
                                <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                            </div>

                            <div class="mb-3">
                                <label for="example-textarea" class="form-label" style="font-weight:bold;">Rekomendasi untuk Event Berikutnya<span class="text-danger">*</span></label>
                                <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                            </div>
                            <div class="col-lg-6">

                                <div class="mb-3">
                                    <label for="simpleinput" class="form-label">Nama Event (Relasi)<span class="text-danger">*</span></label>
                                    <input type="text" id="simpleinput" class="form-control">
                                </div>

                                <div class="mb-3">
                                    <label for="example-date" class="form-label">Tanggal Pelaporan<span class="text-danger">*</span></label>
                                    <input class="form-control" id="example-date" type="date" name="date">
                                </div>

                                <div class="mb-3">
                                    <label for="simpleinput" class="form-label">Jumlah Peserta<span class="text-danger">*</span></label>
                                    <input type="number" id="simpleinput" class="form-control">
                                </div>

                                <div class="mb-3">
                                    <label for="simpleinput" class="form-label">Pendapatan dari Event<span class="text-danger">*</span></label>
                                    <input type="number" id="simpleinput" class="form-control">
                                </div>

                                <div class="mb-3">
                                    <label for="simpleinput" class="form-label">Pengeluaran Event<span class="text-danger">*</span></label>
                                    <input type="number" id="simpleinput" class="form-control">
                                </div>

                                <div class="mb-3">
                                    <label for="example-textarea" class="form-label">Ulasan Singkat Event<span class="text-danger">*</span></label>
                                    <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                                </div>                              

                            </div> <!-- end col -->

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="example-textarea" class="form-label">Feedback dari Peserta<span class="text-danger">*</span></label>
                                    <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                                </div>

                                <div class="mb-3">
                                    <label for="example-fileinput" class="form-label">Foto/Gambar Dokumentasi<span class="text-danger">*</span></label>
                                    <input type="file" id="example-fileinput" class="form-control">
                                </div>

                                <div class="mb-3">
                                    <label for="example-fileinput" class="form-label">Video Dokumentasi<span class="text-danger">*</span></label>
                                    <input type="file" id="example-fileinput" class="form-control">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Kolaborator dalam Event<span class="text-danger">*</span></label>
                                    <select class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">
                                        <option value="A">BPOM</option>
                                        <option value="B">Akademisi</option>
                                        <option value="C">ASosiasi Pariwisata</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="example-fileinput" class="form-label">Laporan Detail<span class="text-danger">*</span></label>
                                    <input type="file" id="example-fileinput" class="form-control">
                                </div>

                                <div class="d-flex justify-content-end align-items-end mt-2 mb-3">
                                    <button type="submit" class="btn btn-primary" style="margin-right: 5px">Simpan</button>
                                    <button type="reset" class="btn btn-danger">Batal</button>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </form>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->


</div>