<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Manajemen Event</a></li>
                        <li class="breadcrumb-item active">Pelaporan & Dokumentasi Event</li>
                    </ol>
                </div>
                <h4 class="page-title">Pelaporan & Dokumentasi Event</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3">Daftar Pelaporan & Dokumentasi Event</h4>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID Laporan Event</th>
                                <th>ID Event</th>
                                <th>Nama Event</th>
                                <th>Tanggal Pelaporan</th>
                                <th>Jumlah Peserta</th>
                                <th>Pendapatan dari Event</th>
                                <th>Pengeluaran Event</th>
                                <th>Ulasan Singkat Event</th>
                                <th>Feedback dari Peserta</th>
                                <th>Foto/Gambar Dokumentasi</th>
                                <th>Video Dokumentasi</th>
                                <th>Kolaborator dalam Event</th>
                                <th>Laporan Detail</th>
                                <th>Masukan Kolaborator</th>
                                <th>Rekomendasi untuk Event Berikutnya</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>LE001</td>
                                <td>EV001</td>
                                <td>Festival Kesenian Bantul</td>
                                <td>2025-03-16</td>
                                <td>1800</td>
                                <td>Rp35.000.000</td>
                                <td>Rp25.000.000</td>
                                <td>Festival berjalan lancar dengan banyaknya peserta dan pengunjung yang antusias.</td>
                                <td>Perlu menambah area parkir untuk pengunjung yang semakin meningkat.</td>
                                <td>dokumentasi_bantul.jpg</td>
                                <td>video_bantul.mp4</td>
                                <td>BPOM</td>
                                <td>laporan_bantul.pdf</td>
                                <td>Perluasan promosi melalui media sosial untuk menarik lebih banyak wisatawan luar daerah.</td>
                                <td>Menambahkan workshop seni bagi pengunjung yang tertarik belajar langsung.</td>
                                <td>2025-03-17</td>
                                <td>2025-03-18</td>
                                <td class="table-action">
                                    <a asp-area="Dashboard" asp-controller="ManajemenEvent" asp-action="PelaporanDanDokumentasiDetail" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>                                 
                                </td>
                            </tr>

                            <tr>
                                <td>LE002</td>
                                <td>EV002</td>
                                <td>Festival Kesenian Sleman</td>
                                <td>2025-04-21</td>
                                <td>1300</td>
                                <td>Rp40.000.000</td>
                                <td>Rp30.000.000</td>
                                <td>Acara berjalan sukses, banyak pengunjung yang tertarik dengan pameran seni dan tari.</td>
                                <td>Fasilitas panggung perlu lebih luas agar para penampil dapat lebih leluasa.</td>
                                <td>dokumentasi_sleman.jpg</td>
                                <td>video_sleman.mp4</td>
                                <td>BPOM</td>
                                <td>laporan_sleman.pdf</td>
                                <td>Menambah kemasan event agar lebih menarik perhatian pengunjung muda.</td>
                                <td>Menambahkan area interaktif bagi pengunjung untuk berpartisipasi langsung dalam seni.</td>
                                <td>2025-04-22</td>
                                <td>2025-04-23</td>
                                <td class="table-action">
                                    <a asp-area="Dashboard" asp-controller="ManajemenEvent" asp-action="PelaporanDanDokumentasiDetail" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>