﻿<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Manajemen Event</a></li>
                        <li class="breadcrumb-item active">Pengelolaan Event</li>
                    </ol>
                </div>
                <h4 class="page-title">Pengelolaan Event</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3">Daftar Pengelolaan Event</h4>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID Event</th>
                                <th>Nama Event</th>
                                <th>Deskripsi Event</th>
                                <th>Kategori Event</th>
                                <th>Tanggal dan Waktu</th>
                                <th>Lokasi Event</th>
                                <th>Penyelenggara</th>
                                <th>Kontak Informasi</th>
                                <th>Target Peserta</th>
                                <th>Jumlah Peserta Maksimal</th>
                                <th>Status Pendaftaran</th>
                                <th>Sponsor Event</th>
                                <th>Anggaran Event</th>
                                <th>Kolaborator Event</th>
                                <th>Media Promosi</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>EV001</td>
                                <td>Festival Kesenian Bantul</td>
                                <td>Festival Kesenian Bantul menampilkan berbagai seni tradisional, seperti tari, musik, dan pameran kerajinan.</td>
                                <td>Budaya</td>
                                <td>2024-11-15 00:00</td>
                                <td>Pendopo Parasamya Bantul, Yogyakarta</td>
                                <td>Dinas Kebudayaan Bantul</td>
                                <td>+62 813-5678-9012</td>
                                <td>Umum</td>
                                <td>2000</td>
                                <td>Buka</td>
                                <td> PT Seni Nusantara</td>
                                <td>Rp30.000.000</td>
                                <td>BPOM</td>
                                <td>poster_festival.jpg</td>
                                <td>2024-12-29</td>
                                <td>2024-12-29</td>
                            </tr>

                            <tr>
                                <td>EV002</td>
                                <td>Festival Kesenian Sleman</td>
                                <td>Acara tahunan ini menampilkan seni budaya khas Sleman dengan fokus pada musik dan tari.</td>
                                <td>Budaya</td>
                                <td>2024-11-20 00:00</td>
                                <td>Taman Tebing Breksi, Sleman, Yogyakarta</td>
                                <td>Dinas Pariwisata Sleman</td>
                                <td>+62 812-3456-7890</td>
                                <td>Umum</td>
                                <td>1500</td>
                                <td>Buka</td>
                                <td>Bank Sleman</td>
                                <td>Rp25.000.000</td>
                                <td>BPOM</td>
                                <td>poster_festival.jpg</td>
                                <td>2024-12-29</td>
                                <td>2024-12-29</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>