<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Wisata</a></li>
                        <li class="breadcrumb-item active">Destinasi Wisata</li>
                    </ol>
                </div>
                <h4 class="page-title">Destinasi Wisata</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daftar Destinasi Wisata</h4>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nama</th>
                                <th>Deskripsi</th>
                                <th>Kategori</th>
                                <th>Alamat</th>
                                <th>Koordinat</th>
                                <th>Fasilitas</th>
                                <th>Harga Tiket Masuk</th>
                                <th>Jam Operasional</th>
                                <th>Kontak Informasi</th>
                                <th>Foto</th>
                                <th>Rating</th>
                                <th>Pengelola Destinasi</th>
                                <th>Jenis Aktivitas</th>
                                <th>Status</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr>
                                <td>DW001</td>
                                <td>Pantai Gilang</td>
                                <td>Pantai dengan pasir putih dan tebing karst yang indah.</td>
                                <td>Alam, Sejarah, Budaya</td>
                                <td>Desa Gilangharjo, Kecamatan Bantul</td>
                                <td>-7.915, 110.333</td>
                                <td>Toilet, Warung, Parkir</td>
                                <td>15.000</td>
                                <td>08:00 - 17:00</td>
                                <td>+62 812-3456-7890</td>
                                <td>gambar_pantai.jpg</td>
                                <td>4.5</td>
                                <td>Pokdarwis Pantai Gilang</td>
                                <td>Snorkeling, Berkemah</td>
                                <td>Buka</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                            </tr>


                            <tr>
                                <td>DW001</td>
                                <td>Pantai Gilang</td>
                                <td>Pantai dengan pasir putih dan tebing karst yang indah.</td>
                                <td>Alam, Sejarah, Budaya</td>
                                <td>Desa Gilangharjo, Kecamatan Bantul</td>
                                <td>-7.915, 110.333</td>
                                <td>Toilet, Warung, Parkir</td>
                                <td>15.000</td>
                                <td>08:00 - 17:00</td>
                                <td>+62 812-3456-7890</td>
                                <td>gambar_pantai.jpg</td>
                                <td>4.5</td>
                                <td>Pokdarwis Pantai Gilang</td>
                                <td>Snorkeling, Berkemah</td>
                                <td>Buka</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>