<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Wisata</a></li>
                        <li class="breadcrumb-item active">Kalender Acara</li>
                    </ol>
                </div>
                <h4 class="page-title">Kalender Acara</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daftar Kalender Acara</h4>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nama</th>
                                <th>Deskripsi</th>
                                <th>Kategori</th>
                                <th>Tanggal & Waktu</th>
                                <th>Lokasi</th>
                                <th>Penanggung Jawab</th>
                                <th>Kontak Informasi</th>
                                <th>Harga Tiket Acara</th>
                                <th>Target Peserta</th>
                                <th>Batas Kuota Peserta</th>
                                <th>Status Pendaftaran</th>
                                <th>Media Promosi</th>
                                <th>Sponsor</th>
                                <th>Tautan Pendaftaran</th>
                                <th>Rating</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr>
                                <td>AC001</td>
                                <td>Festival Seni dan Budaya Gilang</td>
                                <td>Festival tahunan yang menampilkan seni tari dan musik tradisional.</td>
                                <td>Budaya, Olahraga, Edukasi</td>
                                <td>2024-12-20 08:00 - 2024-12-20 18:00</td>
                                <td>Balai Desa Gilangharjo</td>
                                <td>Pokdarwis Desa Gilangharjo</td>
                                <td>+62 813-4567-8910</td>
                                <td>25.000</td>
                                <td>Umum, Pelajar</td>
                                <td>150</td>
                                <td>Dibuka</td>
                                <td>poster_festival.jpg</td>
                                <td>Bank Gilang, Warung Gilang Sejahtera</td>
                                <td>https://pendaftaranfestival.com</td>
                                <td>4.8</td>
                                <td>2024-12-01</td>
                                <td>2024-12-05</td>
                                <td class="table-action">
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Delete"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td>AC001</td>
                                <td>Festival Seni dan Budaya Gilang</td>
                                <td>Festival tahunan yang menampilkan seni tari dan musik tradisional.</td>
                                <td>Budaya, Olahraga, Edukasi</td>
                                <td>2024-12-20 08:00 - 2024-12-20 18:00</td>
                                <td>Balai Desa Gilangharjo</td>
                                <td>Pokdarwis Desa Gilangharjo</td>
                                <td>+62 813-4567-8910</td>
                                <td>25.000</td>
                                <td>Umum, Pelajar</td>
                                <td>150</td>
                                <td>Dibuka</td>
                                <td>poster_festival.jpg</td>
                                <td>Bank Gilang, Warung Gilang Sejahtera</td>
                                <td>https://pendaftaranfestival.com</td>
                                <td>4.8</td>
                                <td>2024-12-01</td>
                                <td>2024-12-05</td>
                                <td class="table-action">
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Delete"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>