<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Wisata</a></li>
                        <li class="breadcrumb-item active">Laporan Kunjungan</li>
                    </ol>
                </div>
                <h4 class="page-title">Laporan Kunjungan</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daftar Laporan Kunjungan</h4>
                    <div class="pb-3 pt-1">
                        <a asp-area="Dashboard" asp-controller="Wisata" asp-action="TambahLaporanKunjungan" class="btn btn-primary">+ Tambah</a>
                    </div>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tanggal Kunjungan</th>
                                <th>Nama Destinasi</th>
                                <th>Jumlah Wisatawan Domestik</th>
                                <th>Jumlah Wisatawan Internasional</th>
                                <th>Durasi Kunjungan</th>
                                <th>Tiket Terjual</th>
                                <th>Pendapatan Tiket</th>
                                <th>Pengelola Destinasi</th>
                                <th>Rating</th>
                                <th>Komentar</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr>
                                <td>LK001</td>
                                <td>2024-12-05</td>
                                <td>Pantai Gilang</td>
                                <td>120</td>
                                <td>50</td>
                                <td>2.5</td>
                                <td>100</td>
                                <td>1.500.000</td>
                                <td>Pokdarwis Pantai Gilang</td>
                                <td>4.7</td>
                                <td>Pantai bersih, tapi akses jalan perlu diperbaiki.</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                                <td class="table-action">
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Delete"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td>LK001</td>
                                <td>2024-12-05</td>
                                <td>Pantai Gilang</td>
                                <td>120</td>
                                <td>50</td>
                                <td>2.5</td>
                                <td>100</td>
                                <td>1.500.000</td>
                                <td>Pokdarwis Pantai Gilang</td>
                                <td>4.7</td>
                                <td>Pantai bersih, tapi akses jalan perlu diperbaiki.</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                                <td class="table-action">
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Delete"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>