<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Produk & Inventory</a></li>
                        <li class="breadcrumb-item active">Manajemen Produk Event</li>
                    </ol>
                </div>
                <h4 class="page-title">Manajemen Produk</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daftar Manajemen Produk</h4>
                    <div class="pb-3 pt-1">
                        <a asp-area="Dashboard" asp-controller="ManajemenProduk" asp-action="Tambah" class="btn btn-primary">+ Tambah</a>
                    </div>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID Produk</th>
                                <th>Nama Produk</th>
                                <th>Deskripsi Produk</th>
                                <th>Kategori Produk</th>
                                <th>Unit Usaha Terkait</th>
                                <th>Harga Produk</th>
                                <th>Stok Awal</th>
                                <th>Stok Saat Ini</th>
                                <th>Status Ketersediaan</th>
                                <th>Tanggal Produksi Terakhir</th>
                                <th>Tanggal Kadaluarsa</th>
                                <th>Legalitas Produk</th>
                                <th>Media Promosi</th>
                                <th>Kolaborator</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>MP001</td>
                                <td>Geplak Bantul</td>
                                <td>Kue tradisional khas Bantul dengan rasa manis dan bahan dasar kelapa parut serta gula.</td>
                                <td>Makanan</td>
                                <td>Geplak Lestari</td>
                                <td>Rp35.000</td>
                                <td>200</td>
                                <td>120</td>
                                <td>Tersedia</td>
                                <td>2024-11-15</td>
                                <td>2025-11-15</td>
                                <td>PIRT 56789/2024, Halal MUI</td>
                                <td>gambar_geplak.jpg</td>
                                <td>BPOM</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                                <td class="table-action">
                                    <a asp-area="Dashboard" asp-controller="ManajemenProduk" asp-action="Edit" asp-route-id="" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    <button type="button" class="action-icon" data-bs-toggle="modal" data-bs-target="#basicModal2"
                                            data-url="@Url.Action("Hapus", new { id = "" })"
                                            title="Hapus">
                                        <i class="mdi mdi-delete"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr>
                                <td>MP002</td>
                                <td>Gudeg Manggar</td>
                                <td>Makanan khas Yogyakarta berbahan manggar (bunga kelapa muda) yang diolah dengan santan dan rempah.</td>
                                <td>Makanan</td>
                                <td>Gudeg Manggar Resto</td>
                                <td>Rp50.000</td>
                                <td>150</td>
                                <td>80</td>
                                <td>Tersedia</td>
                                <td>2024-11-20</td>
                                <td>2025-11-20</td>
                                <td>PIRT 67890/2024, Halal MUI</td>
                                <td>gambar_gudeg_manggar.jpg</td>
                                <td>BPOM, Kuliner UGM</td>
                                <td>2024-12-06</td>
                                <td>2024-12-11</td>
                                <td class="table-action">
                                    <a asp-area="Dashboard" asp-controller="ManajemenProduk" asp-action="Edit" asp-route-id="" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    <button type="button" class="action-icon" data-bs-toggle="modal" data-bs-target="#basicModal2"
                                            data-url="@Url.Action("Hapus", new { id = "" })"
                                            title="Hapus">
                                        <i class="mdi mdi-delete"></i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>