<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web SID</title>
    <!-- third party css -->
    <link href="~/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css">
    <link href="~/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css">
    <link href="~/css/vendor/buttons.bootstrap5.css" rel="stylesheet" type="text/css">
    <link href="~/css/vendor/select.bootstrap5.css" rel="stylesheet" type="text/css">
    <link href="~/lib//bootstrap/dist/css/bootstrap.min.css" type="text/css"/>
    <!-- third party css end -->
    <!-- App css -->
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="/css/test.css" rel="stylesheet" type="text/css" id="light-style">
    <link href="~/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">
    <link href="https://cdn.materialdesignicons.com/6.9.96/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>
<body data-layout-config='{"leftSideBarTheme":"light","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <div class="wrapper">
        <partial name="_SidebarPartial" />
        <div class="content-page">
            <div class="content">
                <partial name="_NavbarPartial" />
                <div class="contatiner-fluid">
                    <main role="main" class="">
                        @RenderBody()
                    </main>
                </div>                
            </div>
        </div> 
        
        <partial name="_ModalPartial" />
    </div>
    <partial name="_RightsidebarPartial" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- bundle -->
    <script src="~/js/vendor.min.js"></script>
    <script src="~/js/app.min.js"></script>

    <!-- third party js -->
    <script src="~/js/vendor/jquery.dataTables.min.js"></script>
    <script src="~/js/vendor/dataTables.bootstrap5.js"></script>
    <script src="~/js/vendor/dataTables.responsive.min.js"></script>
    <script src="~/js/vendor/responsive.bootstrap5.min.js"></script>
    <script src="~/js/vendor/dataTables.buttons.min.js"></script>
    <script src="~/js/vendor/buttons.bootstrap5.min.js"></script>
    <script src="~/js/vendor/buttons.html5.min.js"></script>
    <script src="~/js/vendor/buttons.flash.min.js"></script>
    <script src="~/js/vendor/buttons.print.min.js"></script>
    <script src="~/js/vendor/dataTables.keyTable.min.js"></script>
    <script src="~/js/vendor/dataTables.select.min.js"></script>
    <!-- third party js ends -->

    <script src="~/js/demo.datatable-init.js"></script>

    <!-- third party js -->
    @* <script src="assets/js/vendor/apexcharts.min.js"></script>
    <script src="assets/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="assets/js/vendor/jquery-jvectormap-world-mill-en.js"></script> *@
    <!-- third party js ends -->

    <script>
        let currentDeleteUrl = '';

        // Ketika tombol Hapus di tabel diklik
        $(document).on('click', '[data-bs-target="#basicModal2"]', function () {
            // Ambil URL penghapusan dari data-url tombol
            currentDeleteUrl = $(this).data('url');
            $('#formModalHapus').attr('action', currentDeleteUrl);
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
