<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- LOGO -->
    <a href="#" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="~/assets/kemendesa-seeklogo.png" alt="" height="50">
        </span>
        <span class="logo-sm">
            <img src="~/assets/kemendesa-seeklogo.png" alt="" height="20">
        </span>
    </a>

    <!-- LOGO -->
    <a href="#" class="logo text-center logo-dark">
        <span class="logo-lg">
            <img src="~/assets/kemendesa-seeklogo.png" alt="" height="50">
        </span>
        <span class="logo-sm">
            <img src="~/assets/kemendesa-seeklogo.png" alt="" height="20">
        </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar="">

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title side-nav-item">Dashboard</li>

            <li class="side-nav-item">
                <a asp-area="Dashboard" asp-controller="Home" asp-action="Index" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Dashboard </span>
                </a>                
            </li>

            <li class="side-nav-title side-nav-item">Master Data</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarWisata" aria-expanded="false" aria-controls="sidebarLayouts" class="side-nav-link">
                    <i class="uil-scenery"></i>
                    <span> Wisata </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarWisata">
                    <ul class="side-nav-second-level">
                        <li>
                            <a asp-area="Dashboard" asp-controller="DestinasiWisata" asp-action="Index">Destinasi Wisata</a>
                        </li>
                        <li>
                            <a asp-area="Dashboard" asp-controller="KalenderAcara" asp-action="Index">Kalender Acara</a>
                        </li>
                        <li>
                            <a asp-area="Dashboard" asp-controller="LaporanKunjungan" asp-action="Index">Laporan Kunjungan</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarBudaya" aria-expanded="false" aria-controls="sidebarLayouts" class="side-nav-link">
                    <i class="uil-archway"></i>
                    <span> Budaya </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarBudaya">
                    <ul class="side-nav-second-level">
                        <li>
                            <a asp-area="Dashboard" asp-controller="ArtefakBudaya" asp-action="Index">Artefak Budaya</a>
                        </li>
                        <li>
                            <a asp-area="Dashboard" asp-controller="SeniBudaya" asp-action="Index">Seni Budaya</a>
                        </li>
                        <li>
                            <a asp-area="Dashboard" asp-controller="SitusBudaya" asp-action="Index">Situs Budaya</a>
                        </li>
                        <li>
                            <a asp-area="Dashboard" asp-controller="UpacaraBudaya" asp-action="Index">Upacara Budaya</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPreneur" aria-expanded="false" aria-controls="sidebarLayouts" class="side-nav-link">
                    <i class="uil-briefcase"></i>
                    <span> Preneur </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPreneur">
                    <ul class="side-nav-second-level">
                        <li>
                            <a asp-area="Dashboard" asp-controller="ProdukLokal" asp-action="Index">Produk Lokal</a>
                        </li>
                        <li>
                            <a asp-area="Dashboard" asp-controller="UnitUsaha" asp-action="Index">Unit Usaha</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPrima" aria-expanded="false" aria-controls="sidebarLayouts" class="side-nav-link">
                    <i class="uil-star"></i>
                    <span> Prima </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPrima">
                    <ul class="side-nav-second-level">
                        <li>
                            <a asp-area="Dashboard" asp-controller="KegiatanPrima" asp-action="Index">Kegiatan Prima</a>
                        </li>
                        <li>
                            <a asp-area="Dashboard" asp-controller="KelompokPrima" asp-action="Index">Kelompok Prima</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-title side-nav-item">Collaboration</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarEvent" aria-expanded="false" aria-controls="sidebarLayouts" class="side-nav-link">
                    <i class="uil-calendar-alt"></i>
                    <span> Manajemen Event </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarEvent">
                    <ul class="side-nav-second-level">
                        <li>
                            <a asp-area="Dashboard" asp-controller="LaporanEvent" asp-action="Index">Pelaporan & Dokumentasi</a>
                        </li>
                        <li>
                            <a asp-area="Dashboard" asp-controller="Event" asp-action="Index">Pengelolaan Event</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPelatihanEdukasi" aria-expanded="false" aria-controls="sidebarLayouts" class="side-nav-link">
                    <i class="uil-books"></i>
                    <span> Pelatihan & Edukasi </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPelatihanEdukasi">
                    <ul class="side-nav-second-level">
                        <li>
                            <a asp-area="Dashboard" asp-controller="MateriEdukasi" asp-action="Index">Materi Edukasi & Pembelajaran</a>
                        </li>
                        <li>
                            <a asp-area="Dashboard" asp-controller="PeningkatanKapasitas" asp-action="Index">Peningkatan Kapasitas</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarProdukInventory" aria-expanded="false" aria-controls="sidebarLayouts" class="side-nav-link">
                    <i class="uil-box"></i>
                    <span> Produk & Inventory </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarProdukInventory">
                    <ul class="side-nav-second-level">
                        <li>
                            <a asp-area="Dashboard" asp-controller="ProdukInventory" asp-action="ManajemenDistribusi">Manajemen Distribusi</a>
                        </li>
                        <li>
                            <a asp-area="Dashboard" asp-controller="ProdukInventory" asp-action="ManajemenProduk">Manajemen Produk</a>
                        </li>
                        <li>
                            <a asp-area="Dashboard" asp-controller="ProdukInventory" asp-action="Sertifikasi">Sertifikasi & Legalitas</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarResearchDevelopment" aria-expanded="false" aria-controls="sidebarLayouts" class="side-nav-link">
                    <i class="uil-search-alt"></i>
                    <span> Research & Development </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarResearchDevelopment">
                    <ul class="side-nav-second-level">
                        <li>
                            <a asp-area="Dashboard" asp-controller="ResearchDevelopment" asp-action="ManajemenDataRiset">Manajemen Data Riset</a>
                        </li>
                        <li>
                            <a asp-area="Dashboard" asp-controller="ResearchDevelopment" asp-action="RekomendasiProduk">Rekomendasi & Pengembangan Produk</a>
                        </li>
                    </ul>
                </div>
            </li>            
        </ul>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->