<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- LOGO -->
    <a href="#l" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="assets/images/logo.png" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="assets/images/logo_sm.png" alt="" height="16">
        </span>
    </a>

    <!-- LOGO -->
    <a href="#" class="logo text-center logo-dark">
        <span class="logo-lg">
            <img src="assets/images/logo-dark.png" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="assets/images/logo_sm_dark.png" alt="" height="16">
        </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar="">

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title side-nav-item">Dashboard</li>

            <li class="side-nav-item">
                <a asp-area="Dashboard" asp-controller="Home" asp-action="Index" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Dashboard </span>
                </a>                
            </li>

            <li class="side-nav-title side-nav-item">Master Data</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarWisata" aria-expanded="false" aria-controls="sidebarLayouts" class="side-nav-link">
                    <i class="uil-window"></i>
                    <span> Wisata </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarWisata">
                    <ul class="side-nav-second-level">
                        <li>
                            <a asp-area="Dashboard" asp-controller="Wisata" asp-action="DestinasiWisata">Destinasi Wisata</a>
                        </li>
                        <li>
                            <a asp-area="Dashboard" asp-controller="Wisata" asp-action="KalenderAcara">Kalender Acara</a>
                        </li>
                        <li>
                            <a asp-area="Dashboard" asp-controller="Wisata" asp-action="LaporanKunjungan">Laporan Kunjungan</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarBudaya" aria-expanded="false" aria-controls="sidebarLayouts" class="side-nav-link">
                    <i class="uil-window"></i>
                    <span> Budaya </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarBudaya">
                    <ul class="side-nav-second-level">
                        <li>
                            <a asp-area="Dashboard" asp-controller="Budaya" asp-action="ArtefakBudaya">Artefak Budaya</a>
                        </li>
                        <li>
                            <a asp-area="Dashboard" asp-controller="Budaya" asp-action="SeniBudaya">Seni Budaya</a>
                        </li>
                        <li>
                            <a asp-area="Dashboard" asp-controller="Budaya" asp-action="SitusBudaya">Situs Budaya</a>
                        </li>
                        <li>
                            <a asp-area="Dashboard" asp-controller="Budaya" asp-action="UpacaraBudaya">Upacara Budaya</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPreneur" aria-expanded="false" aria-controls="sidebarLayouts" class="side-nav-link">
                    <i class="uil-window"></i>
                    <span> Preneur </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPreneur">
                    <ul class="side-nav-second-level">
                        <li>
                            <a asp-area="Dashboard" asp-controller="Preneur" asp-action="ProdukLokal">Produk Lokal</a>
                        </li>
                        <li>
                            <a asp-area="Dashboard" asp-controller="Preneur" asp-action="UnitUsaha">Unit Usaha</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPrima" aria-expanded="false" aria-controls="sidebarLayouts" class="side-nav-link">
                    <i class="uil-window"></i>
                    <span> Prima </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPrima">
                    <ul class="side-nav-second-level">
                        <li>
                            <a asp-area="Dashboard" asp-controller="Prima" asp-action="KegiatanPrima">Kegiatan Prima</a>
                        </li>
                        <li>
                            <a asp-area="Dashboard" asp-controller="Prima" asp-action="KelompokPrima">Kelompok Prima</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-title side-nav-item">Collaboration</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarEvent" aria-expanded="false" aria-controls="sidebarLayouts" class="side-nav-link">
                    <i class="uil-window"></i>
                    <span> Manajemen Event </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarEvent">
                    <ul class="side-nav-second-level">
                        <li>
                            <a asp-area="Dashboard" asp-controller="ManajemenEvent" asp-action="PelaporanDokumentasi">Pelaporan & Dokumentasi</a>
                        </li>
                        <li>
                            <a asp-area="Dashboard" asp-controller="ManajemenEvent" asp-action="PengelolaanEvent">Pengelolaan Event</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPelatihanEdukasi" aria-expanded="false" aria-controls="sidebarLayouts" class="side-nav-link">
                    <i class="uil-window"></i>
                    <span> Pelatihan & Edukasi </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPelatihanEdukasi">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="layouts-horizontal.html">Materi Edukasi</a>
                        </li>
                        <li>
                            <a href="layouts-detached.html">Peningkatan Kapasitas</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarProdukInventory" aria-expanded="false" aria-controls="sidebarLayouts" class="side-nav-link">
                    <i class="uil-window"></i>
                    <span> Produk & Inventory </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarProdukInventory">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="layouts-horizontal.html">Manajemen Disribusi</a>
                        </li>
                        <li>
                            <a href="layouts-detached.html">Manajemen Produk</a>
                        </li>
                        <li>
                            <a href="layouts-detached.html">Sertifikasi</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarResearchDevelopment" aria-expanded="false" aria-controls="sidebarLayouts" class="side-nav-link">
                    <i class="uil-window"></i>
                    <span> Research & Development </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarResearchDevelopment">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="layouts-horizontal.html">Manajemen Data Riset</a>
                        </li>
                        <li>
                            <a href="layouts-detached.html">Rekomendasi & Pengembangan Produk</a>
                        </li>
                    </ul>
                </div>
            </li>            
        </ul>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->