<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Research & Development</a></li>
                        <li class="breadcrumb-item active">Manajemen Data Riset</li>
                    </ol>
                </div>
                <h4 class="page-title">Manajemen Data Riset</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daftar Manajemen Data Riset</h4>
                    <div class="pb-3 pt-1">
                        <a asp-area="Dashboard" asp-controller="ResearchDevelopment" asp-action="Index" class="btn btn-primary">+ Tambah</a>
                    </div>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID Data Riset</th>
                                <th>Judul Penelitian</th>
                                <th>Deskripsi Penelitian</th>
                                <th>Kategori Penelitian</th>
                                <th>Peneliti</th>
                                <th>Tanggal Mulai Penelitian</th>
                                <th>Tanggal Selesai Penelitian</th>
                                <th>Data yang Dikumpulkan</th>
                                <th>Metode Pengumpulan Data</th>
                                <th>Hasil Penelitian</th>
                                <th>Dokumen Hasil Penelitian</th>
                                <th>Kolaborator Penelitian</th>
                                <th>Manfaat Penelitian</th>
                                <th>Status Penelitian</th>
                                <th>Feedback dari Kolaborator</th>
                                <th>Tanggal Input Data</th>
                                <th>Tanggal Pembaruan Data</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>RD001</td>
                                <td>Analisis Dampak Pariwisata Berbasis Budaya pada Ekonomi Lokal</td>
                                <td>Penelitian ini bertujuan untuk mengevaluasi dampak pariwisata terhadap pendapatan masyarakat desa.</td>
                                <td>Kualitatif</td>
                                <td>Universitas Gadjah Mada</td>
                                <td>2024-01-10</td>
                                <td>2024-05-15</td>
                                <td>Data Demografi, Data Kunjungan Wisata, Data Ekonomi Lokal</td>
                                <td>Wawancara, Survei, Observasi Lapangan</td>
                                <td>Pariwisata berbasis budaya meningkatkan pendapatan desa sebesar 15%.</td>
                                <td>laporan_penelitian.pdf</td>
                                <td>Akademisi, Dinas Pariwisata, Asosiasi Pariwisata</td>
                                <td>Hasil penelitian digunakan untuk merancang strategi promosi pariwisata desa.</td>
                                <td>Sedang Berlangsung</td>
                                <td>Tambahkan analisis lebih mendalam tentang dampak sosial budaya.</td>
                                <td>2024-12-15</td>
                                <td>2024-12-10</td>
                                <td class="table-action">
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Delete"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td>RD001</td>
                                <td>Analisis Dampak Pariwisata Berbasis Budaya pada Ekonomi Lokal</td>
                                <td>Penelitian ini bertujuan untuk mengevaluasi dampak pariwisata terhadap pendapatan masyarakat desa.</td>
                                <td>Kualitatif</td>
                                <td>Universitas Gadjah Mada</td>
                                <td>2024-01-10</td>
                                <td>2024-05-15</td>
                                <td>Data Demografi, Data Kunjungan Wisata, Data Ekonomi Lokal</td>
                                <td>Wawancara, Survei, Observasi Lapangan</td>
                                <td>Pariwisata berbasis budaya meningkatkan pendapatan desa sebesar 15%.</td>
                                <td>laporan_penelitian.pdf</td>
                                <td>Akademisi, Dinas Pariwisata, Asosiasi Pariwisata</td>
                                <td>Hasil penelitian digunakan untuk merancang strategi promosi pariwisata desa.</td>
                                <td>Sedang Berlangsung</td>
                                <td>Tambahkan analisis lebih mendalam tentang dampak sosial budaya.</td>
                                <td>2024-12-15</td>
                                <td>2024-12-10</td>
                                <td class="table-action">
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Delete"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>