<header class="header">
    <div class="section__container header__container" id="home">
        <h1>Analitik</h1>
    </div>
</header>

<section class="breadcumbs__container ">
    <nav class="breadcrumbs">
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><i class="ri-arrow-right-s-line"></i></li>
            <li><a href="">Analitik</a></li>
        </ul>
    </nav>
</section>

<section class="section__container analitik__container">
    <p class="section__subheader">Visualisasi</p>
    <h2 class="section__header">Statistik dan Laporan</h2>
    <div class="grup_graf">
        <div class="col-4 chart_card">
            <canvas id="incomeCompositionChart"></canvas>      
        </div>
        <div class="col-8 chart_card">
            <canvas id="yearlyVisitStatsChart"></canvas>
            
        </div>
    </div>  
    <div class="grup_graf">
        <div class="col-6 chart_card">
            <canvas id="monthlyVisitStatsChart"></canvas>        
        </div>
        <div class="col-6 chart_card">
            <canvas id="weeklyVisitStatsChart"></canvas>
        </div>
    </div>
</section>