<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Research & Development</a></li>
                        <li class="breadcrumb-item"><a asp-area="Dashboard" asp-controller="ResearchDevelopment" asp-action="ManajemenDataRiset">Manajemen Data Riset</a></li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                </div>
                @* <h4 class="page-title">Tambah</h4> *@
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Edit Manajemen Data Riset</h4>
                    <form>
                        <div class="row">
                            <div class="mb-3">
                                <label for="example-textarea" class="form-label" style="font-weight: bold;">Feedback dari Kolaborator<span class="text-danger">*</span></label>
                                <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                            </div>

                            <div class="col-lg-6">

                                <div class="mb-3">
                                    <label for="simpleinput" class="form-label">Judul Penelitian<span class="text-danger">*</span></label>
                                    <input type="text" id="simpleinput" class="form-control">
                                </div>

                                <div class="mb-3">
                                    <label for="example-textarea" class="form-label">Deskripsi Penelitian<span class="text-danger">*</span></label>
                                    <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Kategori Penelitian<span class="text-danger">*</span></label>
                                    <select class="form-control select2" data-toggle="select2">
                                        <option value="A">Kualitatif</option>
                                        <option value="B">Kuantitatif</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="simpleinput" class="form-label">Peneliti<span class="text-danger">*</span></label>
                                    <input type="text" id="simpleinput" class="form-control">
                                </div>

                                <div class="mb-3">
                                    <label for="example-date" class="form-label">Tanggal Mulai Penelitian<span class="text-danger">*</span></label>
                                    <input class="form-control" id="example-date" type="date" name="date">
                                </div>

                                <div class="mb-3">
                                    <label for="example-date" class="form-label">Tanggal Selesai Penelitian<span class="text-danger">*</span></label>
                                    <input class="form-control" id="example-date" type="date" name="date">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Data yang Dikumpulkan<span class="text-danger">*</span></label>
                                    <select class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">
                                        <option value="A">Data Demografi</option>
                                        <option value="B">Data Kunjungan Wisata</option>
                                        <option value="C">Data Ekonomi Lokal</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="example-textarea" class="form-label">Metode Pengumpulan Data<span class="text-danger">*</span></label>
                                    <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                                </div>
                            </div> <!-- end col -->

                            <div class="col-lg-6">

                                <div class="mb-3">
                                    <label for="example-textarea" class="form-label">Hasil Penelitian<span class="text-danger">*</span></label>
                                    <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                                </div>

                                <div class="mb-3">
                                    <label for="example-fileinput" class="form-label">Dokumen Hasil Penelitian<span class="text-danger">*</span></label>
                                    <input type="file" id="example-fileinput" class="form-control">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Kolaborator Penelitian<span class="text-danger">*</span></label>
                                    <select class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">
                                        <option value="A">Akademisi</option>
                                        <option value="B">Dinas Pariwisata</option>
                                        <option value="C">Asosiasi Pariwisata</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="example-textarea" class="form-label">Manfaat Penelitian<span class="text-danger">*</span></label>
                                    <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Status Penelitian<span class="text-danger">*</span></label>
                                    <select class="form-control select2" data-toggle="select2">
                                        <option value="A">Sedang Berlangsung</option>
                                        <option value="B">Selesai</option>
                                        <option value="C">Dibatalkan</option>
                                    </select>
                                </div>

                                <div class="d-flex justify-content-end align-items-end mt-2 mb-3">
                                    <button type="submit" class="btn btn-primary" style="margin-right: 5px">Simpan</button>
                                    <button type="reset" class="btn btn-danger">Batal</button>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </form>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->


</div>



