<div class="pembungkus">
    <section class="breadcumbs__container ">
        <nav class="breadcrumbs">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a asp-area="" asp-controller="Event" asp-action="Index">Berita & Event</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a href="">Festival Seni dan Budaya Gilang</a></li>
            </ul>
        </nav>
    </section>

    <section class="section__container atraksi_container">
        <div class="col-md-4">
            <div class="section">
                <img src="~/assets/event2-test.png" alt="Pantai Gilang" class="main-image">
            </div>
        </div>
        <div class="col-md-8">
            <div class="section">
                <div class="grup_kategori_status">
                    <div class="kategori">
                        <p>Event Budaya</p>
                    </div>
                    <div class="status">
                        <p><span class="badge" style="background-color: green; color: white;">Dibuka</span></p>
                    </div>
                </div>
                <h2 class="judul">Festival Seni dan Budaya Gilang</h2>
                <p>Festival tahunan yang menampilkan seni tari dan musik tradisional.</p>

                <a class="" href="https://swiperjs.com/">
                    Link Pendaftaran
                </a>
            </div>

            <div class="section">
                <div class="info-grid">
                    <div>
                        <strong>Target Peserta:</strong>
                        <p>Umum</p>
                    </div>
                    <div>
                        <strong>Waktu Mulai:</strong>
                        <p>2024-12-20 08:00</p>
                    </div>
                    <div>
                        <strong>Waktu Berakhir:</strong>
                        <p>2024-12-20 18:00</p>
                    </div>
                    <div>
                        <strong>Lokasi Acara:</strong>
                        <p>Balai Desa Gilangharjo</p>
                    </div>
                    <div>
                        <strong>Penanggung Jawab:</strong>
                        <p>Pokdarwis Desa Gilangharjo</p>
                    </div>
                    <div>
                        <strong>Kontak Informasi:</strong>
                        <p>+62 813-4567-8910</p>
                    </div>
                    <div>
                        <strong>Harga Tiket Acara</strong>
                        <p>Rp 25.000</p>
                    </div>
                    <div>
                        <strong>Batas Kuota Peserta:</strong>
                        <p>150</p>
                    </div>
                    <div>
                        <strong>Sponsor Acara:</strong>
                        <p>Bank Gilang, Warung Gilang Sejahtera</p>
                    </div>
                    <div>
                        <strong>Rating Acara:</strong>
                        <p>4.8 ★</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>