<section class="section__container ">
    <p class="section__subheader">Informasi Desa</p>
    <h2 class="section__header">Berita & Event Terpopuler</h2>

    



    <div class="event__container">
        <div class="col-md-8">
            <div class="swip">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!-- Slide 1 -->
                        <div class="swiper-slide">
                            <div class="news-item">
                                <img src="~/assets/seni2-test.png" alt="News Image 1">
                                <div class="news-content">
                                    <h3>Festival Seni dan Budaya Gilang</h3>
                                    <p>20 Desember 2024, 16.35</p>
                                    <p>Direktorat Kemahasiswaan (Ditmawa) UGM kembali mendapatkan ...</p>
                                </div>
                            </div>
                        </div>
                        <!-- Slide 2 -->
                        <div class="swiper-slide">
                            <div class="news-item">
                                <img src="~/assets/seni2-test.png" alt="News Image 1">
                                <div class="news-content">
                                    <h3>Festival Seni dan Budaya Gilang</h3>
                                    <p>20 Desember 2024, 16.35</p>
                                    <p>Direktorat Kemahasiswaan (Ditmawa) UGM kembali mendapatkan ...</p>
                                </div>
                            </div>
                        </div>
                        <!-- Slide 3 -->
                        <div class="swiper-slide">
                            <div class="news-item">
                                <img src="~/assets/seni2-test.png" alt="News Image 1">
                                <div class="news-content">
                                    <h3>Festival Seni dan Budaya Gilang</h3>
                                    <p>20 Desember 2024, 16.35</p>
                                    <p>Direktorat Kemahasiswaan (Ditmawa) UGM kembali mendapatkan ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id='calendar'></div>
        </div>
    </div>
    <p class="section__subheader">Informasi Desa</p>
    <h2 class="section__header">Berita & Event Terpopuler</h2>
    <div class="berita-container">
        <div class="berita">
            <img src="~/assets/seni2-test.png" alt="Gambar 1" class="berita-image" />
            <div class="berita-content">
                <p class="berita-category">Dies</p>
                <h3 class="berita-title">UGM Tegaskan Komitmen Kebangsaan dan Keberlanjutan...</h3>
                <p class="berita-date">20 Desember 2024, 10.13</p>
            </div>
        </div>
        <div class="berita">
            <img src="~/assets/seni2-test.png" alt="Gambar 2" class="berita-image" />
            <div class="berita-content">
                <p class="berita-category">Inovasi Teknologi</p>
                <h3 class="berita-title">Dosen UGM Bikin Aplikasi Permudah Belajar Akuntansi</h3>
                <p class="berita-date">19 Desember 2024, 17.04</p>
            </div>
        </div>
        <div class="berita">
            <img src="~/assets/seni2-test.png" alt="Gambar 2" class="berita-image" />
            <div class="berita-content">
                <p class="berita-category">Inovasi Teknologi</p>
                <h3 class="berita-title">Dosen UGM Bikin Aplikasi Permudah Belajar Akuntansi</h3>
                <p class="berita-date">19 Desember 2024, 17.04</p>
            </div>
        </div>
        <div class="berita">
            <img src="~/assets/seni2-test.png" alt="Gambar 2" class="berita-image" />
            <div class="berita-content">
                <p class="berita-category">Inovasi Teknologi</p>
                <h3 class="berita-title">Dosen UGM Bikin Aplikasi Permudah Belajar Akuntansi</h3>
                <p class="berita-date">19 Desember 2024, 17.04</p>
            </div>
        </div>
    </div>
</section>
