<header class="header">
    <div class="section__container header__container" id="home">
        <h1>Berita & Event</h1>
    </div>
</header>

<section class="breadcumbs__container ">
    <nav class="breadcrumbs">
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><i class="ri-arrow-right-s-line"></i></li>
            <li><a href="">Berita & Event</a></li>
        </ul>
    </nav>
</section>

<section class="section__container eventberita__container" id="Populer">
    <p class="section__subheader">Update Terkini Desa</p>
    <h2 class="section__header">Berita & Event</h2>
    <p class="section__description">Temukan informasi terbaru tentang acara dan kegiatan yang berlangsung di Desa Gilangharjo.</p>
    <div class="event__container">
        <div class="col-12">
            <div class="swip">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!-- Slide 1 -->
                        <div class="swiper-slide">
                            <a asp-area="" asp-controller="Event" asp-action="Detail">
                                <div class="news-item">
                                    <img src="~/assets/event2-test.png" alt="News Image 1">
                                    <div class="news-content">
                                        <p class="kategori">Event Budaya</p>
                                        
                                        <h3>Festival Seni dan Budaya Gilang</h3>
                                        <div class="status">
                                            <p><span class="badge" style="background-color: green; color: white;">Dibuka</span></p>
                                        </div>
                                        <p>20 Desember 2024</p>
                                        <p class="deskripsi">Festival tahunan yang menampilkan seni tari dan musik tradisional.</p>
                                        
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Slide 2 -->
                        <div class="swiper-slide">
                            <a asp-area="" asp-controller="Event" asp-action="Detail">
                                <div class="news-item">
                                    <img src="~/assets/event2-test.png" alt="News Image 1">
                                    <div class="news-content">
                                        <p class="kategori">Event Budaya</p>

                                        <h3>Festival Seni dan Budaya Gilang</h3>
                                        <div class="status">
                                            <p><span class="badge" style="background-color: green; color: white;">Dibuka</span></p>
                                        </div>
                                        <p>20 Desember 2024</p>
                                        <p class="deskripsi">Festival tahunan yang menampilkan seni tari dan musik tradisional.</p>

                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Slide 3 -->
                        <div class="swiper-slide">
                            <a asp-area="" asp-controller="Event" asp-action="Detail">
                                <div class="news-item">
                                    <img src="~/assets/event2-test.png" alt="News Image 1">
                                    <div class="news-content">
                                        <p class="kategori">Event Budaya</p>

                                        <h3>Festival Seni dan Budaya Gilang</h3>
                                        <div class="status">
                                            <p><span class="badge" style="background-color: green; color: white;">Dibuka</span></p>
                                        </div>
                                        <p>20 Desember 2024</p>
                                        <p class="deskripsi">Festival tahunan yang menampilkan seni tari dan musik tradisional.</p>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
    @* <p class="section__subheader">Tetap Terhubung dengan Informasi Terbaru</p>
    <h2 class="section__header">Seluruh Informasi Penting</h2> *@
    <div class="grup_kalender_berita">      
        <div class="col-md-8">
            <div class="berita-container">
                <div class="berita">
                    <div class="berita-card">
                        <div class="berita-image">
                            <img src="~/assets/event2-test.png" alt="Concert Image">
                        </div>
                        <div class="grup_berita">
                            <div class="berita-date">
                                <span class="month">Des</span>
                                <span class="day">20</span>
                            </div>
                            <div class="berita-content">
                                <h3>Festival Seni dan Budaya Gilang</h3>
                                <p>Festival tahunan yang menampilkan seni tari dan musik tradisional.</p>
                            </div>
                        </div>
                    </div>
                    <div class="berita-card">
                        <div class="berita-image">
                            <img src="~/assets/event2-test.png" alt="Concert Image">
                        </div>
                        <div class="grup_berita">
                            <div class="berita-date">
                                <span class="month">Des</span>
                                <span class="day">20</span>
                            </div>
                            <div class="berita-content">
                                <h3>Festival Seni dan Budaya Gilang</h3>
                                <p>Festival tahunan yang menampilkan seni tari dan musik tradisional.</p>
                            </div>
                        </div>

                    </div>
                    <div class="berita-card">
                        <div class="berita-image">
                            <img src="~/assets/event2-test.png" alt="Concert Image">
                        </div>
                        <div class="grup_berita">
                            <div class="berita-date">
                                <span class="month">Des</span>
                                <span class="day">20</span>
                            </div>
                            <div class="berita-content">
                                <h3>Festival Seni dan Budaya Gilang</h3>
                                <p>Festival tahunan yang menampilkan seni tari dan musik tradisional.</p>
                            </div>
                        </div>

                    </div>
                    <div class="berita-card">
                        <div class="berita-image">
                            <img src="~/assets/event2-test.png" alt="Concert Image">
                        </div>
                        <div class="grup_berita">
                            <div class="berita-date">
                                <span class="month">Des</span>
                                <span class="day">20</span>
                            </div>
                            <div class="berita-content">
                                <h3>Festival Seni dan Budaya Gilang</h3>
                                <p>Festival tahunan yang menampilkan seni tari dan musik tradisional.</p>
                            </div>
                        </div>
                    </div>
                    <div class="berita-card">
                        <div class="berita-image">
                            <img src="~/assets/event2-test.png" alt="Concert Image">
                        </div>
                        <div class="grup_berita">
                            <div class="berita-date">
                                <span class="month">Des</span>
                                <span class="day">20</span>
                            </div>
                            <div class="berita-content">
                                <h3>Festival Seni dan Budaya Gilang</h3>
                                <p>Festival tahunan yang menampilkan seni tari dan musik tradisional.</p>
                            </div>
                        </div>
                    </div>
                    <div class="berita-card">
                        <div class="berita-image">
                            <img src="~/assets/event2-test.png" alt="Concert Image">
                        </div>
                        <div class="grup_berita">
                            <div class="berita-date">
                                <span class="month">Des</span>
                                <span class="day">20</span>
                            </div>
                            <div class="berita-content">
                                <h3>Festival Seni dan Budaya Gilang</h3>
                                <p>Festival tahunan yang menampilkan seni tari dan musik tradisional.</p>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="stik">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
    
    
    
</section>
