<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Budaya</a></li>
                        <li class="breadcrumb-item active">Artefak Budaya</li>
                    </ol>
                </div>
                <h4 class="page-title">Artefak Budaya</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daftar Artefak Budaya</h4>
                    <div class="pb-3 pt-1">
                        <a asp-area="Dashboard" asp-controller="Budaya" asp-action="Index" class="btn btn-primary">+ Tambah</a>
                    </div>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID Artefak</th>
                                <th>Nama Artefak</th>
                                <th>Deskripsi Artefak</th>
                                <th>Kategori Artefak</th>
                                <th>Lokasi Penyimpanan</th>
                                <th>Kondisi Artefak</th>
                                <th>Usia Artefak</th>
                                <th>Bahan Artefak</th>
                                <th>Dimensi Artefak</th>
                                <th>Pemilik/Pengelola</th>
                                <th>Nilai Historis</th>
                                <th>Foto/Gambar Artefak</th>
                                <th>Ketersediaan untuk Pameran</th>
                                <th>Rating dari Pengunjung</th>
                                <th>Komentar Pengunjung</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr>
                                <td>AR001</td>
                                <td>Keris Ki Ageng Gilang</td>
                                <td>Keris ini dipercaya sebagai pusaka warisan Ki Ageng Gilang.</td>
                                <td>Ritual</td>
                                <td>Museum Desa Gilangharjo</td>
                                <td>Baik</td>
                                <td>Abad ke-17</td>
                                <td>Besi, Perunggu</td>
                                <td>Panjang: 40 cm, Lebar: 10 cm</td>
                                <td>Kelompok Budaya Desa Gilangharjo</td>
                                <td>Artefak ini digunakan dalam upacara adat sejak abad ke-17.</td>
                                <td>gambar_keris.jpg</td>
                                <td>Ya</td>
                                <td>4.8</td>
                                <td>Artefak yang sangat menarik, tetapi informasi lebih detail diperlukan.</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>                              
                                <td class="table-action">
                                    <a asp-area="Dashboard" asp-controller="Budaya" asp-action="EditArtefakBudaya" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Delete"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td>AR001</td>
                                <td>Keris Ki Ageng Gilang</td>
                                <td>Keris ini dipercaya sebagai pusaka warisan Ki Ageng Gilang.</td>
                                <td>Ritual</td>
                                <td>Museum Desa Gilangharjo</td>
                                <td>Baik</td>
                                <td>Abad ke-17</td>
                                <td>Besi, Perunggu</td>
                                <td>Panjang: 40 cm, Lebar: 10 cm</td>
                                <td>Kelompok Budaya Desa Gilangharjo</td>
                                <td>Artefak ini digunakan dalam upacara adat sejak abad ke-17.</td>
                                <td>gambar_keris.jpg</td>
                                <td>Ya</td>
                                <td>4.8</td>
                                <td>Artefak yang sangat menarik, tetapi informasi lebih detail diperlukan.</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                                <td class="table-action">
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Delete"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>