<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Budaya</a></li>
                        <li class="breadcrumb-item active">Seni Budaya</li>
                    </ol>
                </div>
                <h4 class="page-title">Seni Budaya</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daftar Seni Budaya</h4>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nama</th>
                                <th>Deskripsi</th>
                                <th>Kategori</th>
                                <th>Nama Pelaku Seni</th>
                                <th>Lokasi Pertunjukan</th>
                                <th>Waktu Pertunjukan</th>
                                <th>Fasilitas Pertunjukan</th>
                                <th>Durasi Pertunjukan</th>
                                <th>Harga Tiket</th>
                                <th>Peraturan Khusus</th>
                                <th>Media Promosi</th>
                                <th>Rating</th>
                                <th>Komentar</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr>
                                <td>SB001</td>
                                <td>Tari Gamelan Gilang</td>
                                <td>Tari tradisional yang menggambarkan semangat masyarakat Desa Gilangharjo.</td>
                                <td>Tari, Musik, Drama</td>
                                <td>Kelompok Tari Langen Mudo</td>
                                <td>Balai Desa Gilangharjo</td>
                                <td>Sabtu, 19:00 - 21:00</td>
                                <td>Panggung, Sistem Audio, Penerangan</td>
                                <td>1.5</td>
                                <td>20.000"</td>
                                <td>Dilarang merekam video selama pertunjukan berlangsung.</td>
                                <td>poster_tari.jpg</td>
                                <td>4.8</td>
                                <td>Pertunjukan sangat memukau, musiknya otentik.</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                            </tr>

                            <tr>
                                <td>SB001</td>
                                <td>Tari Gamelan Gilang</td>
                                <td>Tari tradisional yang menggambarkan semangat masyarakat Desa Gilangharjo.</td>
                                <td>Tari, Musik, Drama</td>
                                <td>Kelompok Tari Langen Mudo</td>
                                <td>Balai Desa Gilangharjo</td>
                                <td>Sabtu, 19:00 - 21:00</td>
                                <td>Panggung, Sistem Audio, Penerangan</td>
                                <td>1.5</td>
                                <td>20.000"</td>
                                <td>Dilarang merekam video selama pertunjukan berlangsung.</td>
                                <td>poster_tari.jpg</td>
                                <td>4.8</td>
                                <td>Pertunjukan sangat memukau, musiknya otentik.</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>