<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Budaya</a></li>
                        <li class="breadcrumb-item active">Situs Budaya</li>
                    </ol>
                </div>
                <h4 class="page-title">Situs Budaya</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daftar Situs Budaya</h4>
                    <div class="pb-3 pt-1">
                        <a asp-area="Dashboard" asp-controller="Budaya" asp-action="TambahSitusBudaya" class="btn btn-primary">+ Tambah</a>
                    </div>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID Situs</th>
                                <th>Nama Situs</th>
                                <th>Deskripsi</th>
                                <th>Kategori Situs</th>
                                <th>Alamat/Lokasi</th>
                                <th>Koordinat Lokasi</th>
                                <th>Fasilitas</th>
                                <th>Harga Tiket Masuk</th>
                                <th>Jam Operasional</th>
                                <th>Kontak Informasi</th>
                                <th>Foto/Gambar</th>
                                <th>Popularitas/Rating</th>
                                <th>Pengelola Situs</th>
                                <th>Status Operasional</th>
                                <th>Jam Operasional</th>
                                <th>Harga Tiket Masuk</th>
                                <th>Peraturan Khusus</th>
                                <th>Foto/Gambar Situs</th>
                                <th>Rating dari Pengunjung</th>
                                <th>Komentar Pengunjung</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr>
                                <td>SB001</td>
                                <td>Petilasan Ki Ageng Gilang</td>
                                <td>Situs ini diyakini sebagai tempat peristirahatan terakhir Ki Ageng Gilang.</td>
                                <td>Sejarah</td>
                                <td>Dusun Gilangharjo, Kecamatan Bantul</td>
                                <td>7.915, 110.333</td>
                                <td>Tempat Parkir, Toilet, Warung</td>
                                <td>15.000</td>
                                <td>08:00 - 17:00</td>
                                <td>+62 812-3456-7890</td>
                                <td>gambar_pantai.jpg</td>
                                <td>4.5</td>
                                <td>Kelompok budaya Gilang</td>
                                <td>Aktif</td>
                                <td>08:00 - 17:00</td>
                                <td>10.000</td>
                                <td>Tidak diperbolehkan mengambil foto di area tertentu.</td>
                                <td>gambar_situs.jpg</td>
                                <td>4.6</td>
                                <td>Sangat menarik, tetapi perlu ditambah pemandu lokal.</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                                <td class="table-action">
                                    <a asp-area="Dashboard" asp-controller="Budaya" asp-action="EditSitusBudaya" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Delete"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td>SB001</td>
                                <td>Petilasan Ki Ageng Gilang</td>
                                <td>Situs ini diyakini sebagai tempat peristirahatan terakhir Ki Ageng Gilang.</td>
                                <td>Sejarah</td>
                                <td>Dusun Gilangharjo, Kecamatan Bantul</td>
                                <td>7.915, 110.333</td>
                                <td>Tempat Parkir, Toilet, Warung</td>
                                <td>15.000</td>
                                <td>08:00 - 17:00</td>
                                <td>+62 812-3456-7890</td>
                                <td>gambar_pantai.jpg</td>
                                <td>4.5</td>
                                <td>Kelompok budaya Gilang</td>
                                <td>Aktif</td>
                                <td>08:00 - 17:00</td>
                                <td>10.000</td>
                                <td>Tidak diperbolehkan mengambil foto di area tertentu.</td>
                                <td>gambar_situs.jpg</td>
                                <td>4.6</td>
                                <td>Sangat menarik, tetapi perlu ditambah pemandu lokal.</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                                <td class="table-action">
                                    <a asp-area="Dashboard" asp-controller="Budaya" asp-action="EditSitusBudaya" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Delete"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>