<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Budaya</a></li>
                        <li class="breadcrumb-item"><a asp-area="Dashboard" asp-controller="Budaya" asp-action="SitusBudaya">Situs Budaya</a></li>
                        <li class="breadcrumb-item active">Tambah</li>
                    </ol>
                </div>
                @* <h4 class="page-title">Tambah</h4> *@
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Tambah Situs Budaya</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <form>

                                <div class="mb-3">
                                    <label for="simpleinput" class="form-label">ID<span class="text-danger">*</span></label>
                                    <input type="text" id="simpleinput" class="form-control" autofocus>
                                </div>

                                <div class="mb-3">
                                    <label for="simpleinput" class="form-label">Nama Situs<span class="text-danger">*</span></label>
                                    <input type="text" id="simpleinput" class="form-control">
                                </div>

                                <div class="mb-3">
                                    <label for="example-textarea" class="form-label">Deskripsi Situs<span class="text-danger">*</span></label>
                                    <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Kategori Situs<span class="text-danger">*</span></label>
                                    <select class="form-control select2" data-toggle="select2">
                                        <option value="A">Sejarah</option>
                                        <option value="B">Religi</option>
                                        <option value="C">Arkeologi</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="example-textarea" class="form-label">Alamat/Lokasi<span class="text-danger">*</span></label>
                                    <textarea class="form-control" id="example-textarea" rows="3"></textarea>
                                </div>

                                <div class="mb-3">
                                    <label for="simpleinput" class="form-label">Koordinat Lokasi<span class="text-danger">*</span></label>
                                    <input type="text" id="simpleinput" class="form-control" placeholder="Contoh: -7.915, 110.333 ">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Fasilitas<span class="text-danger">*</span></label>
                                    <select class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">
                                        <option value="A">Tempat Parkir</option>
                                        <option value="B">Toilet</option>
                                        <option value="C">Warung</option>
                                    </select>
                                </div>       
                                
                                <div class="mb-3">
                                    <label for="simpleinput" class="form-label">Pengelola Situs<span class="text-danger">*</span></label>
                                    <input type="text" id="simpleinput" class="form-control">
                                </div>                              

                                @* <p class="mb-1 fw-bold text-muted">Single Select</p>

                                <select class="form-control select2" data-toggle="select2">
                                <option>Select</option>
                                <optgroup label="Alaskan/Hawaiian Time Zone">
                                <option value="AK">Alaska</option>
                                <option value="HI">Hawaii</option>
                                </optgroup>
                                <optgroup label="Pacific Time Zone">
                                <option value="CA">California</option>
                                <option value="NV">Nevada</option>
                                <option value="OR">Oregon</option>
                                <option value="WA">Washington</option>
                                </optgroup>
                                <optgroup label="Mountain Time Zone">
                                <option value="AZ">Arizona</option>
                                <option value="CO">Colorado</option>
                                <option value="ID">Idaho</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NM">New Mexico</option>
                                <option value="ND">North Dakota</option>
                                <option value="UT">Utah</option>
                                <option value="WY">Wyoming</option>
                                </optgroup>
                                </select> *@
                            </form>
                        </div> <!-- end col -->

                        <div class="col-lg-6">
                            <div class="mb-4">
                                <label class="form-label">Status Operasional<span class="text-danger">*</span></label>
                                <select class="form-control select2" data-toggle="select2">
                                    <option value="A">Aktif</option>
                                    <option value="B">Perlu Perbaikan</option>
                                    <option value="C">Ditutup Sementara</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Jam Operasional<span class="text-danger">*</span></label>
                                <input type="text" id="simpleinput" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Harga Tiket Masuk (Rp)<span class="text-danger">*</span></label>
                                <input type="number" id="simpleinput" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label for="example-textarea" class="form-label">Peraturan Khusus<span class="text-danger">*</span></label>
                                <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                            </div>

                            <div class="mb-3">
                                <label for="example-fileinput" class="form-label">Foto/Gambar Situs<span class="text-danger">*</span></label>
                                <input type="file" id="example-fileinput" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Rating dari Pengunjung<span class="text-danger">*</span></label>
                                <input type="number" id="simpleinput" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label for="example-textarea" class="form-label">Komentar Pengunjung<span class="text-danger">*</span></label>
                                <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                            </div>

                            <div class="d-flex justify-content-end align-items-end mt-2 mb-3">
                                <button type="submit" class="btn btn-primary" style="margin-right: 5px">Tambah Situs Budaya</button>
                                <button type="reset" class="btn btn-danger">Batal</button>
                            </div>


                            @* <p class="mb-1 fw-bold text-muted">Multiple Select</p>

                            <select class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">
                            <optgroup label="Alaskan/Hawaiian Time Zone">
                            <option value="AK">Alaska</option>
                            <option value="HI">Hawaii</option>
                            </optgroup>
                            <optgroup label="Pacific Time Zone">
                            <option value="CA">California</option>
                            <option value="NV">Nevada</option>
                            <option value="OR">Oregon</option>
                            <option value="WA">Washington</option>
                            </optgroup>
                            <optgroup label="Mountain Time Zone">
                            <option value="AZ">Arizona</option>
                            <option value="CO">Colorado</option>
                            <option value="ID">Idaho</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NM">New Mexico</option>
                            <option value="ND">North Dakota</option>
                            <option value="UT">Utah</option>
                            <option value="WY">Wyoming</option>
                            </optgroup>
                            </select> *@
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->


</div>


