<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Budaya</a></li>
                        <li class="breadcrumb-item active">Upacara Budaya</li>
                    </ol>
                </div>
                <h4 class="page-title">Upacara Budaya</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daftar Upacara Budaya</h4>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nama</th>
                                <th>Deskripsi</th>
                                <th>Kategori</th>
                                <th>Lokasi Pelaksanaan</th>
                                <th>Waktu Pelaksanaan</th>
                                <th>Durasi Upacara</th>
                                <th>Pihak yang Terlibat</th>
                                <th>Rangkaian Acara</th>
                                <th>Jumlah Peserta</th>
                                <th>Fasilitas Pendukung</th>
                                <th>Media Promosi</th>
                                <th>Rating</th>
                                <th>Komentar</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr>
                                <td>UB001</td>
                                <td>Ritual Sedekah Laut</td>
                                <td>Ritual tahunan untuk memohon keberkahan hasil laut bagi masyarakat pesisir.</td>
                                <td>Keagamaan, Adat, Sosial</td>
                                <td>Pantai Gilang</td>
                                <td>2024-12-15 07:00 - 2024-12-15 12:00</td>
                                <td>5</td>
                                <td>Tokoh Adat, Kelompok Budaya, Masyarakat Desa</td>
                                <td>Pembukaan, Doa Bersama, Pelepasan Persembahan</td>
                                <td>300</td>
                                <td>Tenda, Panggung, Toilet Umum</td>
                                <td>poster_upacara.jpg</td>
                                <td>4.9</td>
                                <td>Upacara sangat khidmat, tetapi waktu pelaksanaannya kurang fleksibel.</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                                <td class="table-action">
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Delete"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>

                            <tr>
                                <td>UB001</td>
                                <td>Ritual Sedekah Laut</td>
                                <td>Ritual tahunan untuk memohon keberkahan hasil laut bagi masyarakat pesisir.</td>
                                <td>Keagamaan, Adat, Sosial</td>
                                <td>Pantai Gilang</td>
                                <td>2024-12-15 07:00 - 2024-12-15 12:00</td>
                                <td>5</td>
                                <td>Tokoh Adat, Kelompok Budaya, Masyarakat Desa</td>
                                <td>Pembukaan, Doa Bersama, Pelepasan Persembahan</td>
                                <td>300</td>
                                <td>Tenda, Panggung, Toilet Umum</td>
                                <td>poster_upacara.jpg</td>
                                <td>4.9</td>
                                <td>Upacara sangat khidmat, tetapi waktu pelaksanaannya kurang fleksibel.</td>
                                <td>2024-12-05</td>
                                <td>2024-12-10</td>
                                <td class="table-action">
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="#" class="action-icon" data-bs-toggle="tooltip" title="Delete"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>