/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
.footer {
    background-color: var(--text-dark);
}

    .footer ul {
        padding-left: 0rem !important;
    }

.jarak_footer {
    padding-left: 50px;
}

.footer__container {
    display: grid;
    gap: 4rem 2rem;
}

.footer__col .section__description {
    margin-block: 2rem;
}

.footer__col h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
}

.footer__col .logo a h3 {
    color: var(--white);
}

.footer__links {
    list-style: none;
    display: grid;
    gap: 1rem;
}

::deep .footer__links a {
    color: var(--text-light);
    transition: 0.3s;
}

    ::deep .footer__links a:hover {
        color: var(--white);
    }

.footer__socials {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

    .footer__socials ::deep img {
        max-width: 25px;
        opacity: 0.8;
        transition: 0.3s;
    }

    .footer__socials img:hover {
        opacity: 1;
    }

.footer__bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;
}


/* =============================== DIATAS 576px =============================== */
@media (min-width: 576px) {
    /*-----------------------------------*\
    #FOOTER
    \*-----------------------------------*/
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* =============================== DIATAS 768px =============================== */
@media (min-width: 768px) {
    /*-----------------------------------*\
    #FOOTER
    \*-----------------------------------*/
    .footer__container {
        grid-template-columns: repeat(4, 1fr);
    }
}