<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web SID</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />   
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />   
    <link rel="stylesheet" href="~/SidDmb.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <partial name="_NavbarPartial"></partial>

    <button id="goToTopBtn" class="go-to-top-btn">
        <i class="ri-arrow-up-s-line"></i>
    </button>

    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--======================================================= FOOTER =======================================================-->
    <footer class="footer" id="contact">
        <div class="section__container footer__container">
            <div class="footer__col">
                <div class="logo">
                    <a href="#"><h3>WebSID</h3></a>
                </div>
                <p class="section__description">
                    Melalui Sistem Informasi Desa ini, kami memudahkan Anda mengakses potensi dan layanan desa secara cepat dan praktis.
                </p>
                <a asp-area="" asp-controller="" asp-action="" class="btn">Event Terbaru</a>
            </div>
            <div class="footer__col jarak_footer">
                <h4>LINK CEPAT</h4>
                <ul class="footer__links">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Atraksi" asp-action="Index">Atraksi Wisata</a></li>
                    <li><a asp-area="" asp-controller="Event" asp-action="Index">Berita & Event</a></li>
                    <li><a asp-area="" asp-controller="Analitik" asp-action="Index">Analitik</a></li>
                </ul>
            </div>
            <div class="footer__col jarak__footer">
                <h4>ATRAKSI WISATA</h4>
                <ul class="footer__links">
                    <li><a asp-area="" asp-controller="Atraksi" asp-action="Destinasi">Destinasi Wisata</a></li>
                    <li><a asp-area="" asp-controller="Atraksi" asp-action="Artefak">Artefak Budaya</a></li>
                    <li><a asp-area="" asp-controller="Atraksi" asp-action="Seni">Seni Budaya</a></li>
                    <li><a asp-area="" asp-controller="Atraksi" asp-action="Situs">Situs Budaya</a></li>
                    <li><a asp-area="" asp-controller="Atraksi" asp-action="Upacara">Upacara Budaya</a></li>
                    <li><a asp-area="" asp-controller="Atraksi" asp-action="ProdukLokal">Produk/Kuliner Khas</a></li>
                </ul>
            </div>
            <div class="footer__col">
                <h4>KONTAK KAMI</h4>
                <ul class="footer__links">
                    <li><a href="#">websid@info.com</a></li>
                </ul>
                <div class="footer__socials">
                    <a href="#"><img src="~/assets/facebook.png" alt="facebook" /></a>
                    <a href="#"><img src="~/assets/instagram.png" alt="instagram" /></a>
                    <a href="#"><img src="~/assets/youtube.png" alt="youtube" /></a>
                    <a href="#"><img src="~/assets/twitter.png" alt="twitter" /></a>
                </div>
            </div>
        </div>
        <div class="footer__bar">
            Copyright © 2024 WebSID. All rights reserved.
        </div>
    </footer>
    <!--======================================================= AKHIR FOOTER =======================================================-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/@@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/swiper.js" asp-append-version="true"></script>
    <script src="~/js/calender.js" asp-append-version="true"></script>
    <script src="~/js/gotop.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
