<!--======================================================= NAVBAR ====================================================-->
<nav class="navbar_warna">
    <div class="nav__bar">
        <div class="logo">
            <img src="~/assets/kemendesa-seeklogo.png" />
            <a asp-area="" asp-controller="Home" asp-action="Index"><h3>SI Desa</h3></a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-line"></i>
        </div>
    </div>
    <ul class="nav__links" id="nav-links">
        <li><a asp-area="" asp-controller="" asp-action="">Home</a></li>
        <li><a asp-area="" asp-controller="Atraksi" asp-action="Index">Atraksi Wisata</a></li>
        <li><a asp-area="" asp-controller="Event" asp-action="Index">Berita & Event</a></li>
        <li><a asp-area="" asp-controller="Analitik" asp-action="Index">Analitik</a></li>
    </ul>
    <div class="nav_login">
        <a asp-area="Dashboard" asp-controller="Home" asp-action="Login" class="nav__btn">Login</a>
    </div>
</nav>
<!--======================================================= AKHIR NAVBAR ===============================================-->